/* Font Face Rules 
 See also _variables.scss and _mixins.scss for Font Settings

 Fonts used :

 01 - Nunito (text)
 02 - Clarendon (title)

 */

 // 01- Nunito : Regular + Bold

 @font-face {
    font-family: 'Nunito';
    src: url('./font/nunito-regular-webfont.woff2') format('woff2'),
         url('./font/nunito-regular-webfont.woff') format('woff'),
         url('./font/nunito-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./font/nunito-bold-webfont.woff2') format('woff2'),
         url('./font/nunito-bold-webfont.woff') format('woff'),
         url('./font/nunito-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


 // 02- Clarendon : Regular 

@font-face {
     font-family: 'Clarendon';
     src: url("./font/449d1496-03f2-46c5-8596-9ae7805f54c2.woff2") format("woff2"),
          url("./font/d521427c-a622-4343-9121-5fd9216088e5.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}