// Container used in page-contact.php template
#bsideForm {
    width: 100%;
    max-width: pixel(800);
    display: grid;
    @include gutter;
    > div:not(.checkbox ) {
        display: flex;
        flex-flow: column nowrap;
    }
    > #ResponseAnchor {
        display: block;
        text-align: center;
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 0.5em;
    width: 100%;
    transition: all .2s;
    &::placeholder {
        color: $gray;
        opacity: 0.5;
        transition: all .2s;
    }
    &:not(:placeholder-shown) {
        color: $green;
        border-color: $green;
    }
    &:invalid {
        &:not(:focus),
        &:not(:placeholder-shown),
        &:not(:placeholder)  {
            color: $brand-red;
            border-color: $brand-red;
        }
    }
    &:hover{
        border-bottom-color: darken($brand-blue, 20);
    }
    &:focus {
        color: $brand-blue;
        border-bottom-color: $brand-blue;
        &::placeholder {
            opacity: 0.25;
        }
    }
}

input[type="checkbox"] {
    /*
    width: 1rem;
    height: 1rem;
    border: 1px solid currentColor;
    transition: color .2s;
    &:hover,
    &:focus,
    &:active {
        color: $brand-blue;
    }
    &:checked {
        background-color: $brand-blue;
    }
    */
    margin-right: 1rem;
    margin-top: 0.5rem;
}

input[type="submit"] {
    @include button($brand-red);
    border: none;
    outline: none;
    border: none;
    box-shadow: none;
    &.footer-newsletter{
        background-color: #000;
        &:hover{
            @include button($brand-blue);
        }
    }
}
textarea {
    min-height: 8em;
}

form label {
    margin-bottom: 1rem;
}

// Checkbox (RGPD)
.checkbox {
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: flex-start;
}
// Message de validation
#ResponseAnchor {
    // Default state : input button is visible
    * {
        opacity: 1;
        transition: all .2s;
    }
    #ResponseMessage {
        margin-top: 1rem;
        opacity: 0;
    }
    // Message has been sent : #responseMessage is visible
    &.messageSent {
        * {
            opacity: 0;
        }
        #ResponseMessage {
            opacity: 1;
            transition-delay: 0.5s;
        }
    }
}


button, .button {
    display: inline-block;
    text-decoration: none;
    @include button($brand-red);
  }
