/*

File Summary : 

01 - Accessibility
02 - Font-setting
03 - Responsive class
04 - Color class
05 - Background class
06 - Reset classes
07 - Picture
08 - Admin Gutenberg

*/

// 01 - Accessibility
// Accessiblity for main navigation
* {
    &:focus-visible {
        outline: none;
    }
}

.skip-link {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    padding: 0;
    //overflow: hidden;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.skip-link:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 0.5em;
    top: 0.5em;
    line-height: normal;
    padding: 1em 1.5em 1em;
    text-decoration: none;
    width: unset;
    z-index: $index-accessibility;
    /* Above WP toolbar. */
}

// Text for Screen Reader only
.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// 02 - Font-setting
// Default text setting
html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    @include font(text, regular, body);
    line-height: 1.3;
    color: $default-text-color;
    box-sizing: border-box;
}

.title-like {
    @include font(title, regular);
}

h1,
.h1-like {
    @include font(title, regular, h1);
}

h2,
.h2-like {
    @include font(title, regular, h2);
}

h3,
.h3-like {
    @include font(title, regular, h3);
}

h4,
.h4-like {
    @include font(title, regular, h4);
}

h5,
.h5-like {
    @include font(title, regular, h5);
}

h6,
.h6-like {
    @include font(title, regular, h6);
}

b,
strong,
.bold {
    @include font-weight(text, bold);
}

a{
    color:inherit;
}

h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like,
h6,
.h6-like {
    margin: 0 0 1rem 0;
    padding: 0;
    line-height: $lh-small;
    &.margin-b {
        margin-bottom: 1em;
    }
}

.lead-title {
    @include font(title, regular, lead-paragraph);
    line-height: $lh-small;
}

.lead-paragraph {
    @include font(text, regular, lead-paragraph);
    line-height: $lh-small;
}

p {
    font-size: inherit;
    margin: 0 0 1rem 0;
}

@mixin small-text {
    font-size: 0.875rem;
}

.small-text {
    @include small-text;
}

// Class-name font-familly

/*
.font-title {
  @include font(title);
  &.regular { 
    @include font(title, regular);
  }
  &.bold {
    @include font(title, bold);
  }
}

.font-standard {
  @include font(text);
  &.regular {
    @include font(text, regular);
  }
  &.bold {
    @include font(text, bold);
  }
}
*/

//03 - Responsive class
// Display elements according to screen size
// Size 1 : $tiny_width
.tiny-hidden {
    @media screen and (max-width: $tiny_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

// Sizes 1 + 2 : $tiny_width + $mobile_width
.mobile-hidden {
    @media screen and (max-width: $mobile_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

// Size 2 : $mobile_width
.mobile-xl-hidden {
    @media screen and (min-width: $tiny_width) and (max-width: $mobile_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

// Size 3 : $tablet_width
.tablet-hidden {
    @media screen and (min-width: $mobile_width) and (max-width: $tablet_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

// Size 4 : $desktop_width
.desktop-hidden {
    @media screen and (min-width: $tablet_width) and (max-width: $desktop_width) {
        display: none;
        visibility: hidden;
    }
}

// Size 5 : above $desktop_width
.huge-hidden {
    @media screen and (min-width: $desktop_width) {
        display: none;
        visibility: hidden;
    }
}

.entry-meta {
    text-align: right;
}

.white {
    color: $white;
}

.gray {
    color: $gray;
}

.white-bg {
    background: $white;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


/*
.underline {
  margin-bottom: 4rem;
  position: relative;
  &:after {
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 10rem;
    height: 0.25rem;
    content: "";
  }
  &.center {
    &:after {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  &.underline-white::after {
    background: $white;
  }
}
*/

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

//06 - Reset Classes
button.reset-style {
    -webkit-backface-visibility: hidden;
    background: transparent;
    border: solid 1px transparent;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

// 07 - Picture
picture {
    max-width: 100%;
    text-align: center;
    //line-height: 0; // Prevent white-space bugs
    > img,
    > source {
        width: 100%;
        height: auto;
    }
}

// 08 - Admin Gutenberg
.admin-infos {
    text-align: center;
    color: $brand-blue;
}

.wp-block-image img {
    height: auto;
}

