// Generate responsive margin and responsive padding automatically
// Source : https://sass-lang.com/documentation/at-rules/control/if#else-if
@mixin spacing($property, $layout-map) {
  @each $layout-breakpoint, $layout-space in $layout-map {
    @if $layout-breakpoint == null {
      #{$property} : $layout-space;
    }
    @else {
      @media screen and (min-width: $layout-breakpoint) {
        #{$property} : $layout-space;
      }
    }
  }
}

// Generate a responsive grid-gap rule
@mixin gutter{
  grid-gap: map-get($grid-gap, mobile);
  @media screen and (min-width: $tablet_width) {
    grid-gap: map-get($grid-gap, desktop);
  }
}

//// Source : https://www.kevinpowell.co/article/using-my-colors/
// Display font-familly, font-weight and font-size
// is used : @include font(standard)

@mixin font($name, $weight: base, $f-size: default) {
  font-family: map-get(map-get($fonts, $name), 'base');

  @if $weight != base {
        @include font-weight($name, $weight);
    } @else {}
  @if $f-size != null {
        @include font-size($name, $f-size);
    } @else {}
}
@mixin font-weight($name, $weight) {
  font-weight: map-get(map-get($fonts, $name), $weight);
}
@mixin font-size($name, $f-size) {
  font-size: map-get(map-get($fonts, $name), $f-size);
  ;

  @media screen and (min-width: $tablet_width) {
  font-size: map-get(map-get($fonts, $name), #{$f-size}-desktop);
  }
}

//Function to convert px value into rem
// Source : https://www.choosepizzi.net/sass-mixin-for-convert-px-to-rem/
// The default font size for html is 16px
$base-size: 16;
@function pixel($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

// Icon in background for interface element
@mixin icon($name) {

  @if $name = arrow-down-white {
    background-image: url("./image/angle-down-white.svg");
  }

  @if $name = arrow-down {
    background-image: url("./image/angle-down.svg");
  }

  padding-right: 1em;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 0.5em;
}

