//color
$white :        #fff;
/*
$grey-lgt :       #f0f2f2;
$grey-mdm :       #a4a4a4;
$grey-drk :       #bfc1c2;
*/
$black :        #000;
$gray :         rgb(103, 103, 103);
$dark-gray :    #232323;
$brand-yellow : #FFD41B;
$brand-red :    #e73947;
$brand-blue :   #0651f9;
$green :        #50D55D;
$linkedin :     #264bee;
$twitter :      #21c4ec;

$default-text-color : $black;

// Breakpoints
$tiny_width: pixel(400);
$mobile_width: pixel(680);
$tablet_width: pixel(1000);
$desktop_width: pixel(1300);

// Container width
$blocked_wrapper_width : pixel(1320);

// Universal grid-gap
$grid-gap: (
  mobile: pixel(20),
  desktop: pixel(40),
);

// Text line-height
$lh-small     : 1.2;
$lh-standard  : 1.5;
$lh-big       : 2;

// Text letter-space
$ls-regular    : 0.05em;
//$ls-none       : 0em;

//z-index
$index-accessibility  : 1000;
$index-modal          : 400;
$index-navigation     : 300;
$index-dropdown       : 200;
$index-overlay        : 100;

// Display font-familly and font-weight automatically
// is used : @include font(standard) / @include font(standard, black)

$font-text: 'Nunito', Roboto, Helvetica, sans-serif;
$font-title: 'Clarendon', 'Merriweather', 'Times New Roman', Times, serif;

// 'base' is font-name, 'regular, bold, black' are font-weight, and everyhting else is font-size
// 'h1' is h1 font-size for mobile, and 'h1-desktop' is font-size on desktop
$fonts: (
  text: (
    // font familly
    base: $font-text,
    // font-weight
    regular: 400,
    /*bold: 700,*/
    // font-size
    //h1: pixel(30),
    //h1-desktop: pixel(70),
    //h2: pixel(24),
    //h2-desktop: pixel(48),
    //h3: pixel(24),
    //h3-desktop: pixel(32),
    h4: pixel(20), // used in footer
    h4-desktop: pixel(24),
    //h5: pixel(20),
    //h5-desktop: pixel(20),
    //h6: pixel(18),
    //h6-desktop: pixel(18),
    lead-paragraph: pixel(24),
    lead-paragraph-desktop: pixel(28),
    body: 1rem,
    body-desktop: 1rem,
  ),
  title: (
    // font familly
    base: $font-title,
    // font-weight
    regular: 400,
    bold: 600,
    // font-size
    h1: pixel(36),
    h1-desktop: pixel(48),
    h2: pixel(32),
    h2-desktop: pixel(40),
    h3: pixel(24),
    h3-desktop: pixel(30),
    h4: pixel(22),
    h4-desktop: pixel(24),
    h5: pixel(20),
    h5-desktop: pixel(20),
    h6: pixel(18),
    h6-desktop: pixel(18),
    lead-paragraph: pixel(24),
    lead-paragraph-desktop: pixel(28),
  ),
);

//Responsive spacing
$wrapper-padding: (
  null: 1rem,
  $tiny_width: 2rem,
  $mobile_width: 3rem,
  $tablet_width: 6rem,
  $desktop_width: 6rem,
);

$vertical-padding-regular: (
  null: 1rem,
  $tiny_width: 2rem,
  $mobile_width: 3rem,
  $tablet_width: 6rem,
  $desktop_width: 6rem,
);

$vertical-padding-small: (
  null: 1rem,
  $tiny_width: 1.5rem,
  $mobile_width: 2rem,
  $tablet_width: 3rem,
  $desktop_width: 3rem,
);