 /* Normalize */
 /* Main column width */
 
 .wp-block {
    max-width: pixel(1300);
 }
 /* Width of "wide" blocks */
 
 .wp-block[data-align="wide"] {
    max-width: pixel(1300);
 }
 /* Width of "full-wide" blocks */
 
 .wp-block[data-align="full"] {
    max-width: none;
 }

 
@import "node_modules/node-normalize-scss/normalize";
@import "sass/mixins";
@import "sass/variables";
@import "sass/site/site";
@import "sass/fontface";
@import "sass/global";
@import "sass/template/template";
@import "sass/archive/archive";
@import "sass/block/block";

// We don't want to interfere with Wordpress admin UI
// @import "sass/form";