@charset "UTF-8";
/* Normalize */
/* Main column width */
.wp-block {
  max-width: pixel(1300);
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: pixel(1300);
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*
$grey-lgt :       #f0f2f2;
$grey-mdm :       #a4a4a4;
$grey-drk :       #bfc1c2;
*/
/*

Style content (#content)

File structure :
------------------
1 - Wrapper settings (horizontal)
  1.1 : Wrapper
  1.2 : Narrow-wrapper
  1.3 : Block-wrapper
------------------
2 - Block settings (vertical)
  2.0 : After topbar
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link
  3.1 - Link default
  3.2 - Link red
  3.3 - Link underline
  3.4 - Button
  3.5 - Button + icon + label
  3.6 - Link Image
------------------
4 - Background
------------------
5 - Entry-content
------------------
6 - Shadow

*/
/* 1 - Wrapper settings
------------------ */
.wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

@media screen and (min-width: 25rem) {
  .wrapper {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .wrapper {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .wrapper {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .wrapper {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .wrapper {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .wrapper {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .wrapper {
    padding-right: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .wrapper {
    padding-right: 6rem;
  }
}

.wrapper > img,
.wrapper > picture {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.narrow-wrapper {
  margin: auto;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 25rem) {
  .narrow-wrapper {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .narrow-wrapper {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .narrow-wrapper {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .narrow-wrapper {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .narrow-wrapper {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .narrow-wrapper {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .narrow-wrapper {
    padding-right: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .narrow-wrapper {
    padding-right: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .narrow-wrapper {
    max-width: 85vw;
  }
}

@media screen and (min-width: 25rem) and (min-width: 42.5rem) {
  .narrow-wrapper {
    max-width: 75vw;
  }
}

@media screen and (min-width: 25rem) and (min-width: 42.5rem) and (min-width: 62.5rem) {
  .narrow-wrapper {
    max-width: 75vw;
  }
}

@media screen and (min-width: 25rem) and (min-width: 42.5rem) and (min-width: 62.5rem) and (min-width: 81.25rem) {
  .narrow-wrapper {
    max-width: 61.875rem;
  }
}

.blocked-wrapper {
  max-width: 82.5rem;
  margin: auto;
}

/* 2 - Vertical Rythm 
------------------ */
.after-topbar {
  margin-top: 6rem;
}

@media screen and (min-width: 62.5rem) {
  .after-topbar {
    margin-top: 8rem;
  }
}

.v-padding-regular {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 25rem) {
  .v-padding-regular {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-regular {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .v-padding-regular {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .v-padding-regular {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .v-padding-regular {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-regular {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .v-padding-regular {
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .v-padding-regular {
    padding-bottom: 6rem;
  }
}

.v-padding-regular > *:first-child {
  margin-top: 0;
}

.v-padding-regular > *:last-child {
  margin-bottom: 0;
}

.v-padding-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 25rem) {
  .v-padding-small {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-small {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .v-padding-small {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .v-padding-small {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 25rem) {
  .v-padding-small {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-small {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .v-padding-small {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .v-padding-small {
    padding-bottom: 3rem;
  }
}

.v-padding-small > *:first-child {
  margin-top: 0;
}

.v-padding-small > *:last-child {
  margin-bottom: 0;
}

/* 3 - Link
------------------ */
.link-default {
  transition: .2s color;
}

.link-default:link, .link-default:visited {
  color: inherit;
}

.link-default:hover, .link-default:focus, .link-default[focus-within] {
  color: #0651f9;
}

.link-default:hover, .link-default:focus, .link-default:focus-within {
  color: #0651f9;
}

.link-default:active {
  color: #e73947;
}

.link-default.stay-white {
  transition: .2s all;
}

.link-default.stay-white:hover, .link-default.stay-white:focus, .link-default.stay-white[focus-within], .link-default.stay-white:active {
  color: inherit;
}

.link-default.stay-white:hover, .link-default.stay-white:focus, .link-default.stay-white:focus-within, .link-default.stay-white:active {
  color: inherit;
}

.link-red {
  transition: .2s color;
}

.link-red:link, .link-red:visited {
  color: #e73947;
}

.link-red:hover, .link-red:focus, .link-red[focus-within] {
  color: #6a97fb;
}

.link-red:hover, .link-red:focus, .link-red:focus-within {
  color: #6a97fb;
}

.link-red:active {
  color: #0651f9;
}

.link-underline {
  text-decoration: none;
  position: relative;
  padding-bottom: 0.25em;
}

.link-underline a:link,
.link-underline a:visited {
  color: inherit;
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  color: inherit;
  transform-origin: left;
  background-color: currentColor;
  transition: transform 0.4s, color 0.4s;
}

.link-underline:hover::after, .link-underline:focus::after, .link-underline[focus-within]::after {
  right: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
}

.link-underline:hover::after, .link-underline:focus::after, .link-underline:focus-within::after {
  right: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
}

.link-archive {
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.25em;
  font-family: "Clarendon", "Merriweather", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-right: 1em;
}

.link-archive a:link,
.link-archive a:visited {
  color: inherit;
}

.link-archive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  color: inherit;
  transform-origin: left;
  background-color: currentColor;
  transition: transform 0.4s, color 0.4s;
}

.link-archive:hover::after, .link-archive:focus::after, .link-archive[focus-within]::after {
  right: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
}

.link-archive:hover::after, .link-archive:focus::after, .link-archive:focus-within::after {
  right: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
}

@media screen and (min-width: 62.5rem) {
  .link-archive {
    font-size: 1.75rem;
  }
}

.link-archive:last-of-type {
  margin-right: 0;
}

.button-icon-label {
  display: block;
  font-family: "Nunito", Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (min-width: 62.5rem) {
  .button-icon-label {
    font-size: 1rem;
  }
}

.button-icon-label > * {
  vertical-align: middle;
}

.button-icon-label label {
  margin-right: 0.5rem;
  cursor: pointer;
}

.button-icon-label:hover, .button-icon-label:focus, .button-icon-label:active {
  background-color: rgba(255, 212, 27, 0.25);
}

.link-image {
  text-decoration: none;
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
  overflow: hidden;
}

.link-image img,
.link-image picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all .2s;
}

.link-image:hover img,
.link-image:hover picture, .link-image:focus img,
.link-image:focus picture {
  transform: scale(1.1);
  transition: all .4s;
}

/* 4 - Background
------------------ */
/* 5 - Entry Content
----------------- */
.entry-content {
  font-size: inherit;
  color: inherit;
  line-height: 1.5;
}

.entry-content > *:first-child {
  margin-top: 0;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.entry-content ul, .entry-content ol {
  margin: 1em auto;
  padding: 0 0 0 2em;
}

.entry-content ul li, .entry-content ol li {
  margin-bottom: 0.5em;
  list-style: square inside;
}

.entry-content ul li:last-of-type, .entry-content ol li:last-of-type {
  margin-bottom: 0;
}

.entry-content ol li {
  list-style: decimal inside;
}

.entry-content a {
  transition: .2s color;
}

.entry-content a:link, .entry-content a:visited {
  color: #e73947;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a[focus-within] {
  color: #6a97fb;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a:focus-within {
  color: #6a97fb;
}

.entry-content a:active {
  color: #0651f9;
}

.entry-content p > a {
  transition: .2s color;
}

.entry-content p > a:link, .entry-content p > a:visited {
  color: inherit;
}

.entry-content p > a:hover, .entry-content p > a:focus, .entry-content p > a[focus-within] {
  color: #0651f9;
}

.entry-content p > a:hover, .entry-content p > a:focus, .entry-content p > a:focus-within {
  color: #0651f9;
}

.entry-content p > a:active {
  color: #e73947;
}

.entry-content p > a.stay-white {
  transition: .2s all;
}

.entry-content p > a.stay-white:hover, .entry-content p > a.stay-white:focus, .entry-content p > a.stay-white[focus-within], .entry-content p > a.stay-white:active {
  color: inherit;
}

.entry-content p > a.stay-white:hover, .entry-content p > a.stay-white:focus, .entry-content p > a.stay-white:focus-within, .entry-content p > a.stay-white:active {
  color: inherit;
}

.entry-content button {
  background-color: #e73947;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  min-width: 4rem;
  color: #fff;
  transition: all .2s;
  cursor: pointer;
}

.entry-content button:hover, .entry-content button:focus {
  background-color: #6a97fb;
}

.entry-content button:active {
  background-color: #0651f9;
}

.entry-content blockquote {
  margin: 4rem auto;
  padding: 1rem 0 1rem 2rem;
  color: #e73947;
  border-left: 2px solid #e73947;
  font-family: "Nunito", Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2;
}

.entry-content blockquote > *:first-child {
  margin-top: 0;
}

.entry-content blockquote > *:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 62.5rem) {
  .entry-content blockquote {
    font-size: 1.75rem;
  }
}

/* 6 - Shadow
---------------- */
/*

Header [header.php]

File structure :
------------------
0 - Header layout
------------------
1- Header Layout : Mobile (Sizes 1 + 2 + 3 : tiny + mobile + tablet)
    1.A - Menu mobile : hidden
    1.B - Menu mobile : visible
    1.C - Menu mobile : overlay
    1.D - Dropdown
    1.E - Button style
    1.F - Links style
    1.G - Social icon links
------------------
2 - Header Layout : Desktop (Sizes 4 + 5 : desktop + huge)
    2.A - Links style
    2.B - Dropdown
    2.C - Social icon links
------------------
3 - Homepage Variante : menu is white on homepage
    3.1 - Color Mobile (Sizes 1 + 2 + 3)
    3.2 - Color desktop (Sizes 4 + 5)
------------------
4 - Scroll effects
    4.1 - White topbar
    4.2 - Smaller logo
    4.3 - Menu-white gets black on scroll

*/
#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  position: fixed;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  transition: all .4s;
  z-index: 300;
}

@media screen and (min-width: 62.5rem) {
  #menu {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 25rem) {
  #menu {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #menu {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #menu {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #menu {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  #menu {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #menu {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #menu {
    padding-right: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #menu {
    padding-right: 6rem;
  }
}

#menu.menu-small {
  padding-top: 0;
  padding-bottom: 0;
}

#menu li:not(.current-menu-item) > a {
  text-decoration: none;
  opacity: 1;
}

#menu > #home_link {
  max-height: 3.75rem;
  transition: all .4s;
}

#menu > #home_link img,
#menu > #home_link picture {
  height: 100%;
  max-height: inherit;
  width: auto;
}

@media screen and (max-width: 62.49rem) {
  #menu > #headerMenu {
    position: fixed;
    z-index: 300;
    height: 100vh;
    background: #0651f9;
    color: #fff;
    top: 0;
    right: -18rem;
    width: 18rem;
    transition: transform .4s;
    padding: 0.25rem 1rem;
    box-sizing: border-box;
    overflow: scroll;
  }
  #menu.menu-open > #headerMenu {
    transform: translate(-18rem, 0);
  }
  #menu.menu-open > #overlay {
    display: block;
  }
  #menu > #overlay {
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transition: display .4s;
    display: none;
    z-index: 100;
  }
  #menu .sub-menu {
    background: #0439ae;
    padding: 0.75rem 0.5rem;
  }
  #menu .sub-menu a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 62.49rem) and (hover) {
  #menu .menu-item-has-children  {
    background-image: url("./image/angle-down-white.svg");
    background-image: url("./image/angle-down.svg");
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 0.5em;
    padding-right: 4rem;
  }
  #menu .menu-item-has-children  .sub-menu {
    padding: 0;
    background: #0651f9;
    opacity: 0;
    height: 0px;
    box-sizing: border-box;
    transition: all .2s;
  }
  #menu .menu-item-has-children :hover .sub-menu, #menu .menu-item-has-children :active .sub-menu, #menu .menu-item-has-children :focus .sub-menu, #menu .menu-item-has-children [focus-within] .sub-menu {
    opacity: 1;
    height: auto;
  }
  #menu .menu-item-has-children :hover .sub-menu, #menu .menu-item-has-children :active .sub-menu, #menu .menu-item-has-children :focus .sub-menu, #menu .menu-item-has-children :focus-within .sub-menu {
    opacity: 1;
    height: auto;
  }
}

@media screen and (max-width: 62.49rem) {
  #menu #burger-menu,
  #menu #close-menu {
    color: inherit;
    display: flex;
    height: 3rem;
    width: 3rem;
  }
  #menu #burger-menu img,
  #menu #burger-menu picture,
  #menu #close-menu img,
  #menu #close-menu picture {
    margin: auto;
  }
  #menu #close-menu {
    margin-left: auto;
  }
  #menu #headerLinks > div > ul {
    padding: 0;
  }
  #menu #headerLinks ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
  }
  #menu #headerLinks .menu-item-has-children {
    background-position: 100% -0.25em;
  }
  #menu #headerLinks .menu-item-has-children,
  #menu #headerLinks a {
    font-size: 1.25rem;
  }
  #menu #headerLinks a {
    font-family: "Nunito", Roboto, Helvetica, sans-serif;
    margin: 0.75rem 0;
    display: block;
    transition: all .2s;
  }
  #menu #headerLinks a:link, #menu #headerLinks a:visited {
    color: #fff;
  }
}

@media screen and (max-width: 62.49rem) and (hover) {
  #menu #headerLinks a:link, #menu #headerLinks a:visited {
    opacity: 0.7;
  }
}

@media screen and (max-width: 62.49rem) {
  #menu #headerLinks a:hover, #menu #headerLinks a:focus {
    color: #FFD41B;
  }
}

@media screen and (max-width: 62.49rem) and (hover) {
  #menu #headerLinks a:hover, #menu #headerLinks a:focus {
    color: #fff;
    opacity: 1;
  }
}

@media screen and (max-width: 62.49rem) {
  #menu #headerLinks a:active {
    color: #FFD41B;
  }
  #menu #headerLinks li:first-of-type > a {
    margin-top: 0;
  }
  #menu #headerLinks li:last-of-type > a {
    margin-bottom: 0;
  }
  #menu #headerSocial {
    filter: invert(100%);
    margin: 2rem 0;
  }
  #menu #headerSocial a {
    text-decoration: none;
    margin-right: 1rem;
    transition: opacity .2s;
    text-align: center;
  }
  #menu #headerSocial a img,
  #menu #headerSocial a picture {
    vertical-align: middle;
  }
  #menu #headerSocial a:link, #menu #headerSocial a:visited {
    opacity: 0.7;
  }
  #menu #headerSocial a:hover, #menu #headerSocial a:focus, #menu #headerSocial a[focus-within], #menu #headerSocial a:active {
    opacity: 1;
  }
  #menu #headerSocial a:hover, #menu #headerSocial a:focus, #menu #headerSocial a:focus-within, #menu #headerSocial a:active {
    opacity: 1;
  }
}

@media screen and (min-width: 62.5rem) {
  #menu .menu-item-has-children {
    background-image: url("./image/angle-down-white.svg");
    background-image: url("./image/angle-down.svg");
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 0.5em;
  }
  #menu > #home_link {
    max-height: 5rem;
  }
  #menu > #headerMenu #headerLinks {
    display: inline;
    float: left;
    margin-right: 1rem;
  }
  #menu > #headerMenu #headerLinks ul {
    display: inline;
    padding: 0;
  }
  #menu > #headerMenu #headerLinks ul > li {
    list-style: none;
    display: inline;
    margin: 0;
    margin-right: 1rem;
  }
  #menu > #headerMenu #headerLinks ul > li:last-of-type {
    margin: 0;
  }
  #menu > #headerMenu #headerLinks ul > li.menu-item-has-children {
    position: relative;
  }
  #menu > #headerMenu #headerLinks ul > li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: color .2s;
  }
  #menu > #headerMenu #headerLinks ul > li a:link, #menu > #headerMenu #headerLinks ul > li a:visited {
    color: #000;
  }
  #menu > #headerMenu #headerLinks ul > li a:hover, #menu > #headerMenu #headerLinks ul > li a:focus {
    color: #0651f9;
  }
  #menu > #headerMenu #headerLinks ul > li a:active {
    color: #FFD41B;
  }
  #menu > #headerMenu #headerLinks ul > li > ul {
    margin-top: -1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: -100rem;
    color: #fff;
    background-color: #0651f9;
    padding: 0.5rem;
    opacity: 0;
    transition: opacity .2s;
  }
  #menu > #headerMenu #headerLinks ul > li > ul > li {
    list-style: none;
    display: inline;
    margin: 0;
  }
  #menu > #headerMenu #headerLinks ul > li > ul a {
    padding: 0.5em;
    display: block;
    background-color: #0651f9;
  }
  #menu > #headerMenu #headerLinks ul > li > ul a:link, #menu > #headerMenu #headerLinks ul > li > ul a:visited {
    color: inherit;
    transition: background-color .1s;
  }
  #menu > #headerMenu #headerLinks ul > li > ul a:hover, #menu > #headerMenu #headerLinks ul > li > ul a:focus {
    background-color: #3874fa;
  }
  #menu > #headerMenu #headerLinks ul > li > ul a:active {
    background-color: #FFD41B;
  }
  #menu > #headerMenu #headerLinks ul li:active > ul,
  #menu > #headerMenu #headerLinks ul li:focus > ul,
  #menu > #headerMenu #headerLinks ul li[focus-within] > ul,
  #menu > #headerMenu #headerLinks ul li:hover > ul {
    top: 2.6rem;
    opacity: 1;
    transition: opacity .2s;
  }
  #menu > #headerMenu #headerLinks ul li:active > ul,
  #menu > #headerMenu #headerLinks ul li:focus > ul,
  #menu > #headerMenu #headerLinks ul li:focus-within > ul,
  #menu > #headerMenu #headerLinks ul li:hover > ul {
    top: 2.6rem;
    opacity: 1;
    transition: opacity .2s;
  }
  #menu > #headerMenu #headerSocial {
    float: right;
    display: inline;
  }
  #menu > #headerMenu #headerSocial a {
    text-decoration: none;
    margin-right: 1rem;
  }
  #menu > #headerMenu #headerSocial a:last-of-type {
    margin: 0;
  }
}

@media screen and (max-width: 62.49rem) {
  #menu.menu-white #home_link,
  #menu.menu-white #burger-menu {
    filter: invert(100%);
  }
}

@media screen and (min-width: 62.5rem) {
  #menu.menu-white {
    filter: invert(100%);
  }
  #menu.menu-white .sub-menu {
    filter: invert(100%);
  }
}

#menu.menu-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fff;
}

@media screen and (min-width: 62.5rem) {
  #menu.menu-small {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

#menu.menu-small > #home_link {
  max-height: 2.5rem;
}

@media screen and (min-width: 62.5rem) {
  #menu.menu-small > #home_link {
    max-height: 3.75rem;
  }
}

#menu.menu-small.menu-white {
  filter: invert(100%);
}

#menu.menu-small.menu-white .menu-item-has-children {
  filter: invert(100%);
}

#menu.menu-small.menu-white .sub-menu {
  filter: invert(100%);
}

/*

Footer [footer.php]

File structure :
------------------
1- Footer Layout
    1.A - Layout for Mobile (Sizes 1 + 2 : tiny + mobile)
    1.B - Layout for Tablet (Size 3 : tablet)
    1.C - Layout for Desktop (Size 4  : desktop)
    1.D - Layout for Huge Screens (Size 5 : huge)
------------------
2 - Widgets Style
    2.1 Widget : Infos
    2.2 Widget : contact
    2.3 Widget : newsletter
    2.4 Widget : actus
------------------
3 - Copyright style
    3.1 - Links
    3.2 - Label image
------------------
4 - Social links style
------------------
5 - Title style (widget)

*/
#footer {
  margin: 0;
  padding: 0;
  padding: 2.5rem 0;
  color: #000;
  background-color: #FFD41B;
  background-image: url(./image/pattern-points.svg);
  background-repeat: repeat-Y;
  background-size: 25rem;
  background-position: right;
  line-height: 2;
}

#footer #footer-layout {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1.25rem;
  row-gap: 4rem;
}

@media screen and (min-width: 62.5rem) {
  #footer #footer-layout {
    grid-gap: 2.5rem;
  }
}

@media screen and (max-width: 42.49rem) {
  #footer #footer-layout {
    grid-template-columns: 1fr;
    grid-template-areas: "infos" "contact" "newsletter" "actus" "copyright"  "social";
  }
}

@media screen and (min-width: 42.5rem) and (max-width: 62.49rem) {
  #footer #footer-layout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "infos      infos" "contact    newsletter" "actus      actus" "copyright  copyright" "social social";
  }
}

@media screen and (min-width: 62.5rem) and (max-width: 81.24rem) {
  #footer #footer-layout {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "infos      contact     newsletter" "actus      actus       actus"  "copyright  copyright   social";
  }
}

@media screen and (min-width: 81.25rem) {
  #footer #footer-layout {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "infos      contact     newsletter   actus"  "copyright  copyright   copyright    social";
  }
}

#footer #footer-layout > li {
  list-style: none;
}

#footer #footer-layout > li:nth-of-type(1) {
  grid-area: infos;
}

#footer #footer-layout > li:nth-of-type(1) img,
#footer #footer-layout > li:nth-of-type(1) picture {
  margin-bottom: 1rem;
  width: 100px;
  height: auto;
}

#footer #footer-layout > li:nth-of-type(1) p {
  margin-bottom: 1rem;
}

#footer #footer-layout > li:nth-of-type(1) *:last-child {
  margin-bottom: 0;
}

#footer #footer-layout > li:nth-of-type(2) {
  grid-area: contact;
}

#footer #footer-layout > li:nth-of-type(2) p {
  margin: 0;
  margin-bottom: 1.75rem;
}

#footer #footer-layout > li:nth-of-type(2) a {
  font-size: 1.5rem;
  text-decoration: underline;
  transition: .2s color;
  line-height: 1.2;
  margin: 0.25rem 0 0 0;
  display: block;
}

#footer #footer-layout > li:nth-of-type(2) a:link, #footer #footer-layout > li:nth-of-type(2) a:visited {
  color: inherit;
}

#footer #footer-layout > li:nth-of-type(2) a:hover, #footer #footer-layout > li:nth-of-type(2) a:focus, #footer #footer-layout > li:nth-of-type(2) a[focus-within] {
  color: #0651f9;
}

#footer #footer-layout > li:nth-of-type(2) a:hover, #footer #footer-layout > li:nth-of-type(2) a:focus, #footer #footer-layout > li:nth-of-type(2) a:focus-within {
  color: #0651f9;
}

#footer #footer-layout > li:nth-of-type(2) a:active {
  color: #e73947;
}

#footer #footer-layout > li:nth-of-type(2) a.stay-white {
  transition: .2s all;
}

#footer #footer-layout > li:nth-of-type(2) a.stay-white:hover, #footer #footer-layout > li:nth-of-type(2) a.stay-white:focus, #footer #footer-layout > li:nth-of-type(2) a.stay-white[focus-within], #footer #footer-layout > li:nth-of-type(2) a.stay-white:active {
  color: inherit;
}

#footer #footer-layout > li:nth-of-type(2) a.stay-white:hover, #footer #footer-layout > li:nth-of-type(2) a.stay-white:focus, #footer #footer-layout > li:nth-of-type(2) a.stay-white:focus-within, #footer #footer-layout > li:nth-of-type(2) a.stay-white:active {
  color: inherit;
}

#footer #footer-layout > li:nth-of-type(3) {
  grid-area: newsletter;
}

#footer #footer-layout > li:nth-of-type(3) form {
  display: grid;
  grid-template-columns: auto 5rem;
  grid-gap: 1rem;
}

#footer #footer-layout > li:nth-of-type(3) form .checkbox {
  grid-column: 1 / 3;
}

#footer #footer-layout > li:nth-of-type(4) {
  grid-area: actus;
}

#footer #footer-layout > li:nth-of-type(4) ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.75rem;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 25rem) and (max-width: 62.49rem) {
  #footer #footer-layout > li:nth-of-type(4) ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 62.5rem) and (max-width: 81.24rem) {
  #footer #footer-layout > li:nth-of-type(4) ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

#footer #footer-layout > li:nth-of-type(4) li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}

#footer #footer-layout > li:nth-of-type(4) li a {
  transition: .2s color;
  text-decoration: none;
  line-height: 1.5;
}

#footer #footer-layout > li:nth-of-type(4) li a:link, #footer #footer-layout > li:nth-of-type(4) li a:visited {
  color: inherit;
}

#footer #footer-layout > li:nth-of-type(4) li a:hover, #footer #footer-layout > li:nth-of-type(4) li a:focus, #footer #footer-layout > li:nth-of-type(4) li a[focus-within] {
  color: #0651f9;
}

#footer #footer-layout > li:nth-of-type(4) li a:hover, #footer #footer-layout > li:nth-of-type(4) li a:focus, #footer #footer-layout > li:nth-of-type(4) li a:focus-within {
  color: #0651f9;
}

#footer #footer-layout > li:nth-of-type(4) li a:active {
  color: #e73947;
}

#footer #footer-layout > li:nth-of-type(4) li a.stay-white {
  transition: .2s all;
}

#footer #footer-layout > li:nth-of-type(4) li a.stay-white:hover, #footer #footer-layout > li:nth-of-type(4) li a.stay-white:focus, #footer #footer-layout > li:nth-of-type(4) li a.stay-white[focus-within], #footer #footer-layout > li:nth-of-type(4) li a.stay-white:active {
  color: inherit;
}

#footer #footer-layout > li:nth-of-type(4) li a.stay-white:hover, #footer #footer-layout > li:nth-of-type(4) li a.stay-white:focus, #footer #footer-layout > li:nth-of-type(4) li a.stay-white:focus-within, #footer #footer-layout > li:nth-of-type(4) li a.stay-white:active {
  color: inherit;
}

#footer #footer-layout #footerCopyright {
  grid-area: copyright;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#footer #footer-layout #footerCopyright a {
  transition: .2s color;
  text-decoration: none;
  display: inline-block;
  margin-right: 1rem;
}

#footer #footer-layout #footerCopyright a:link, #footer #footer-layout #footerCopyright a:visited {
  color: inherit;
}

#footer #footer-layout #footerCopyright a:hover, #footer #footer-layout #footerCopyright a:focus, #footer #footer-layout #footerCopyright a[focus-within] {
  color: #0651f9;
}

#footer #footer-layout #footerCopyright a:hover, #footer #footer-layout #footerCopyright a:focus, #footer #footer-layout #footerCopyright a:focus-within {
  color: #0651f9;
}

#footer #footer-layout #footerCopyright a:active {
  color: #e73947;
}

#footer #footer-layout #footerCopyright a.stay-white {
  transition: .2s all;
}

#footer #footer-layout #footerCopyright a.stay-white:hover, #footer #footer-layout #footerCopyright a.stay-white:focus, #footer #footer-layout #footerCopyright a.stay-white[focus-within], #footer #footer-layout #footerCopyright a.stay-white:active {
  color: inherit;
}

#footer #footer-layout #footerCopyright a.stay-white:hover, #footer #footer-layout #footerCopyright a.stay-white:focus, #footer #footer-layout #footerCopyright a.stay-white:focus-within, #footer #footer-layout #footerCopyright a.stay-white:active {
  color: inherit;
}

#footer #footer-layout #footerCopyright a:not(:last-of-type) {
  position: relative;
}

#footer #footer-layout #footerCopyright a:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -0.75rem;
  width: 0.25rem;
  height: 1px;
  background: black;
}

#footer #footer-layout #footerCopyright .label {
  width: 3.75rem;
  min-width: 3.75rem;
  height: auto;
  margin-right: 1rem;
}

#footer #footer-layout #footerSocial {
  grid-area: social;
  text-align: left;
}

@media screen and (min-width: 62.5rem) {
  #footer #footer-layout #footerSocial {
    text-align: right;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
  }
}

#footer #footer-layout #footerSocial a {
  text-decoration: none;
  transition: all .2s;
  padding: 0.5rem;
  text-align: center;
}

#footer #footer-layout #footerSocial a img,
#footer #footer-layout #footerSocial a picture {
  vertical-align: middle;
}

#footer #footer-layout #footerSocial a:link, #footer #footer-layout #footerSocial a:visited {
  border: 1px solid transparent;
  background-color: transparent;
}

#footer #footer-layout #footerSocial a:hover {
  background-color: #cea700;
}

#footer #footer-layout #footerSocial a:focus, #footer #footer-layout #footerSocial a[focus-within] {
  border: 1px solid #0651f9;
}

#footer #footer-layout #footerSocial a:focus, #footer #footer-layout #footerSocial a:focus-within {
  border: 1px solid #0651f9;
}

#footer #footer-layout #footerSocial a:active {
  background-color: #0651f9;
}

#footer #footer-layout h2,
#footer #footer-layout h3 {
  margin: 0;
  margin-bottom: 1.75rem;
  font-family: "Clarendon", "Merriweather", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.375rem;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 62.5rem) {
  #footer #footer-layout h2,
  #footer #footer-layout h3 {
    font-size: 1.5rem;
  }
}

/* Font Face Rules 
 See also _variables.scss and _mixins.scss for Font Settings

 Fonts used :

 01 - Nunito (text)
 02 - Clarendon (title)

 */
@font-face {
  font-family: 'Nunito';
  src: url("./font/nunito-regular-webfont.woff2") format("woff2"), url("./font/nunito-regular-webfont.woff") format("woff"), url("./font/nunito-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("./font/nunito-bold-webfont.woff2") format("woff2"), url("./font/nunito-bold-webfont.woff") format("woff"), url("./font/nunito-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Clarendon';
  src: url("./font/449d1496-03f2-46c5-8596-9ae7805f54c2.woff2") format("woff2"), url("./font/d521427c-a622-4343-9121-5fd9216088e5.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*

File Summary : 

01 - Accessibility
02 - Font-setting
03 - Responsive class
04 - Color class
05 - Background class
06 - Reset classes
07 - Picture
08 - Admin Gutenberg

*/
*:focus-visible {
  outline: none;
}

.skip-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.skip-link:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 0.5em;
  top: 0.5em;
  line-height: normal;
  padding: 1em 1.5em 1em;
  text-decoration: none;
  width: unset;
  z-index: 1000;
  /* Above WP toolbar. */
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-family: "Nunito", Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  color: #000;
  box-sizing: border-box;
}

@media screen and (min-width: 62.5rem) {
  body {
    font-size: 1rem;
  }
}

.title-like {
  font-family: "Clarendon", "Merriweather", "Times New Roman", Times, serif;
  font-weight: 400;
}

h1,
.h1-like {
  font-family: "Clarendon", "Merriweather", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 2.25rem;
}

@media screen and (min-width: 62.5rem) {
  h1,
  .h1-like {
    font-size: 3rem;
  }
}

h2,
.h2-like {
  font-family: "Clarendon", "Merriweather", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 2rem;
}

@media screen and (min-width: 62.5rem) {
  h2,
  .h2-like {
    font-size: 2.5rem;
  }
}

h3,
.h3-like {
  font-family: "Clarendon", "Merriweather", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.5rem;
}

@media screen and (min-width: 62.5rem) {
  h3,
  .h3-like {
    font-size: 1.875rem;
  }
}

h4,
.h4-like {
  font-family: "Clarendon", "Merriweather", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.375rem;
}

@media screen and (min-width: 62.5rem) {
  h4,
  .h4-like {
    font-size: 1.5rem;
  }
}

h5,
.h5-like {
  font-family: "Clarendon", "Merriweather", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.25rem;
}

@media screen and (min-width: 62.5rem) {
  h5,
  .h5-like {
    font-size: 1.25rem;
  }
}

h6,
.h6-like {
  font-family: "Clarendon", "Merriweather", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.125rem;
}

@media screen and (min-width: 62.5rem) {
  h6,
  .h6-like {
    font-size: 1.125rem;
  }
}

a {
  color: inherit;
}

h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like,
h6,
.h6-like {
  margin: 0 0 1rem 0;
  padding: 0;
  line-height: 1.2;
}

h1.margin-b,
.h1-like.margin-b,
h2.margin-b,
.h2-like.margin-b,
h3.margin-b,
.h3-like.margin-b,
h4.margin-b,
.h4-like.margin-b,
h5.margin-b,
.h5-like.margin-b,
h6.margin-b,
.h6-like.margin-b {
  margin-bottom: 1em;
}

.lead-title {
  font-family: "Clarendon", "Merriweather", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2;
}

@media screen and (min-width: 62.5rem) {
  .lead-title {
    font-size: 1.75rem;
  }
}

.lead-paragraph {
  font-family: "Nunito", Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2;
}

@media screen and (min-width: 62.5rem) {
  .lead-paragraph {
    font-size: 1.75rem;
  }
}

p {
  font-size: inherit;
  margin: 0 0 1rem 0;
}

.small-text {
  font-size: 0.875rem;
}

/*
.font-title {
  @include font(title);
  &.regular { 
    @include font(title, regular);
  }
  &.bold {
    @include font(title, bold);
  }
}

.font-standard {
  @include font(text);
  &.regular {
    @include font(text, regular);
  }
  &.bold {
    @include font(text, bold);
  }
}
*/
@media screen and (max-width: 25rem) {
  .tiny-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 42.5rem) {
  .mobile-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 25rem) and (max-width: 42.5rem) {
  .mobile-xl-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 42.5rem) and (max-width: 62.5rem) {
  .tablet-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 62.5rem) and (max-width: 81.25rem) {
  .desktop-hidden {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 81.25rem) {
  .huge-hidden {
    display: none;
    visibility: hidden;
  }
}

.entry-meta {
  text-align: right;
}

.white {
  color: #fff;
}

.gray {
  color: #676767;
}

.white-bg {
  background: #fff;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/*
.underline {
  margin-bottom: 4rem;
  position: relative;
  &:after {
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 10rem;
    height: 0.25rem;
    content: "";
  }
  &.center {
    &:after {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  &.underline-white::after {
    background: $white;
  }
}
*/
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

button.reset-style {
  -webkit-backface-visibility: hidden;
  background: transparent;
  border: solid 1px transparent;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

picture {
  max-width: 100%;
  text-align: center;
}

picture > img,
picture > source {
  width: 100%;
  height: auto;
}

.admin-infos {
  text-align: center;
  color: #0651f9;
}

.wp-block-image img {
  height: auto;
}

#hp-hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  position: relative;
  position: relative;
}

#hp-hero #frontpage-hero {
  width: 100%;
  height: inherit;
  min-height: inherit;
  overflow: hidden;
  position: absolute;
  left: 0%;
  top: 0%;
  text-align: left;
  z-index: -1;
  /*
        background-repeat: no-repeat; 
        background-position: left; 
        background-size: auto 100%;
        @media screen and (min-height: 100vw) {
            background-position: left bottom;
            text-align: left;
        }
        */
}

@media screen and (min-height: 100vw) {
  #hp-hero #frontpage-hero {
    text-align: left;
  }
}

#hp-hero #frontpage-hero > img,
#hp-hero #frontpage-hero > picture > img,
#hp-hero #frontpage-hero > picture > source {
  height: 100%;
  width: auto;
}

@media screen and (min-height: 100vw) {
  #hp-hero #frontpage-hero > img,
  #hp-hero #frontpage-hero > picture > img,
  #hp-hero #frontpage-hero > picture > source {
    text-align: left;
  }
}

#hp-hero::after, #hp-hero::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
}

#hp-hero::after {
  background-image: url(./image/pattern-points.svg);
  background-repeat: repeat-Y;
  background-size: 25rem;
  background-position: right;
  z-index: -1;
}

#hp-hero::before {
  background-color: #FFD41B;
  z-index: -10;
}

#hp-hero #hp-title {
  line-height: 1.2;
  font-size: 3rem;
}

@media screen and (min-width: 37.5rem) {
  #hp-hero #hp-title {
    font-size: 8vw;
  }
}

@media screen and (min-width: 37.5rem) and (min-width: 75rem) {
  #hp-hero #hp-title {
    font-size: 6rem;
  }
}

#hp-hero p {
  margin: 0;
}

#hp-hero .show-icon {
  margin-top: 2rem;
  width: 8rem;
  height: 8rem;
}

.modale {
  opacity: 0;
  position: fixed;
  z-index: 400;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  transform: translate(100%, -50%);
  box-sizing: border-box;
  transition: all .4s;
  background-color: rgba(0, 0, 0, 0.8);
  /*
    // Butoon 2 - close video
    #video-close {
        grid-row: 1 / 2;
    }
    */
  /*
    // Overlay (Close Modal)
    #video-overlay {
        background-color: rgba(black, 0.8);
        width: 100%;
        height: 100%;
        grid-row: 1 / 4;
        grid-column: 1 / 4;
        border: none;
    }
    */
}

.modale .closeModale {
  outline: 0;
  background-color: transparent;
  transition: all .2s;
  color: #fff;
  font-size: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  border: 1px solid currentColor;
  margin-bottom: 2rem;
  cursor: pointer;
}

.modale .closeModale:hover, .modale .closeModale:focus, .modale .closeModale:active {
  background-color: #e73947;
  border-color: #e73947;
}

.modale iframe {
  grid-row: 2 / 3;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
  box-sizing: border-box;
}

.modale #video-close,
.modale iframe {
  grid-column: 2;
}

.modale.active {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.single-post > header > span {
  min-height: 60vh;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 42.5rem) {
  .single-post > header > span {
    min-height: 100vw;
  }
}

@media screen and (min-width: 25rem) {
  .single-post > header > span {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .single-post > header > span {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .single-post > header > span {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .single-post > header > span {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .single-post > header > span {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .single-post > header > span {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .single-post > header > span {
    padding-right: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .single-post > header > span {
    padding-right: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .single-post > header > span {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .single-post > header > span {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .single-post > header > span {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .single-post > header > span {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 25rem) {
  .single-post > header > span {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .single-post > header > span {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .single-post > header > span {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .single-post > header > span {
    padding-bottom: 3rem;
  }
}

.single-post > header > span h1 {
  color: #fff;
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.single-post > header > span ul.post-categories {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0;
}

.single-post > header > span ul.post-categories li {
  margin-right: 1rem;
}

.single-post > header > span ul.post-categories li:last-of-type {
  margin-right: 0;
}

.single-post > header > span ul.post-categories a {
  display: inline-block;
  background-color: #e73947;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  min-width: 4rem;
  color: #fff;
  transition: all .2s;
  cursor: pointer;
  text-decoration: none;
}

.single-post > header > span ul.post-categories a:hover, .single-post > header > span ul.post-categories a:focus {
  background-color: #6a97fb;
}

.single-post > header > span ul.post-categories a:active {
  background-color: #0651f9;
}

.single-post > header > span img,
.single-post > header > span picture {
  margin: 0;
}

#header-bg-desktop,
#header-bg-mobile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 42.5rem) {
  #header-bg-desktop > #header-bg-mobile {
    background-image: none;
  }
}

#header-bg-desktop {
  background-color: #0651f9;
}

#share-linkedin,
#share-twitter {
  text-decoration: none;
  display: inline-block;
  border: 2px solid currentColor;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  transition: all .2s;
}

#share-linkedin:link, #share-linkedin:visited,
#share-twitter:link,
#share-twitter:visited {
  background-color: #fff;
}

#share-linkedin:hover, #share-linkedin:focus,
#share-twitter:hover,
#share-twitter:focus {
  background-color: currentColor;
}

#share-linkedin:hover label, #share-linkedin:focus label,
#share-twitter:hover label,
#share-twitter:focus label {
  color: #fff;
}

#share-linkedin:hover img,
#share-linkedin:hover picture, #share-linkedin:focus img,
#share-linkedin:focus picture,
#share-twitter:hover img,
#share-twitter:hover picture,
#share-twitter:focus img,
#share-twitter:focus picture {
  filter: brightness(0) invert(1);
}

#share-linkedin:active,
#share-twitter:active {
  color: #e73947;
}

#share-linkedin:active label,
#share-twitter:active label {
  color: #fff;
}

#share-linkedin {
  color: #264bee;
  margin-right: 2rem;
}

#share-twitter {
  color: #21c4ec;
}

#post-suggestion {
  background-color: whitesmoke;
}

#site-map {
  padding-bottom: 1rem;
}

@media screen and (min-width: 25rem) {
  #site-map {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #site-map {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #site-map {
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #site-map {
    padding-bottom: 6rem;
  }
}

#site-map a {
  color: inherit;
  text-decoration: none;
  transition: .2s color;
}

#site-map a:link, #site-map a:visited {
  color: inherit;
}

#site-map a:hover, #site-map a:focus, #site-map a[focus-within] {
  color: #0651f9;
}

#site-map a:hover, #site-map a:focus, #site-map a:focus-within {
  color: #0651f9;
}

#site-map a:active {
  color: #e73947;
}

#site-map a.stay-white {
  transition: .2s all;
}

#site-map a.stay-white:hover, #site-map a.stay-white:focus, #site-map a.stay-white[focus-within], #site-map a.stay-white:active {
  color: inherit;
}

#site-map a.stay-white:hover, #site-map a.stay-white:focus, #site-map a.stay-white:focus-within, #site-map a.stay-white:active {
  color: inherit;
}

#site-map li {
  margin-top: 0.5rem;
}

#site-map li:last-of-type {
  margin-bottom: 2rem;
}

#site-map ul {
  color: #e73947;
}

#site-map ul ul {
  color: #000;
}

.single-savoirfaire > header {
  min-height: 50vh;
  background-color: #0651f9;
  color: #fff;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 1rem;
}

@media screen and (min-width: 25rem) {
  .single-savoirfaire > header {
    padding: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .single-savoirfaire > header {
    padding: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .single-savoirfaire > header {
    padding: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .single-savoirfaire > header {
    padding: 6rem;
  }
}

.single-savoirfaire > header h1 {
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.single-savoirfaire > header img,
.single-savoirfaire > header picture {
  margin: 0;
}

.single-real > header > span {
  min-height: 60vh;
  color: #fff;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 42.5rem) {
  .single-real > header > span {
    min-height: 100vw;
  }
}

@media screen and (min-width: 25rem) {
  .single-real > header > span {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .single-real > header > span {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .single-real > header > span {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .single-real > header > span {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .single-real > header > span {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .single-real > header > span {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .single-real > header > span {
    padding-right: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .single-real > header > span {
    padding-right: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .single-real > header > span {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .single-real > header > span {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .single-real > header > span {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .single-real > header > span {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 25rem) {
  .single-real > header > span {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .single-real > header > span {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .single-real > header > span {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .single-real > header > span {
    padding-bottom: 3rem;
  }
}

.single-real > header > span h1 {
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.single-real > header > span img,
.single-real > header > span picture {
  margin: 0;
}

#header-bg-desktop,
#header-bg-mobile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 42.5rem) {
  #header-bg-desktop > #header-bg-mobile {
    background-image: none;
  }
}

#header-bg-desktop {
  background-color: #0651f9;
}

#realisation-menu {
  background: #232323;
  color: #fff;
  /*
    #realisation-control {
        display: grid;
        @include spacing(padding-left, $wrapper-padding);
        @include spacing(padding-right, $wrapper-padding);
        padding-top: 2rem;
        padding-bottom: 2rem;
        grid-template-columns:  4rem 4rem auto 4rem 4rem;
        grid-template-areas:    "title title title title title"
                                "menu menu . prev next";
        
        @media screen and (min-width: 36rem) {
            grid-template-areas: "menu title prev next";
            grid-template-columns: 8rem auto 4rem 4rem;
        }

        // Elements areas :
        > button:nth-of-type(1) {
            grid-area: menu;
        }
        > button:nth-of-type(2) {
            grid-area: prev;
        }
        > button:nth-of-type(3) {
            grid-area: next;
        }
        > h2 {
            grid-area: title;
        }
    }
    */
}

#realisation-menu #realisation-control {
  padding: 2rem;
}

#realisation-menu #realisation-control h2 {
  margin-bottom: 0;
}

#realisation-menu #listing-realisation-caroussel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

@media screen and (min-width: 32rem) {
  #realisation-menu #listing-realisation-caroussel {
    grid-auto-rows: 50vw;
  }
}

@media screen and (min-width: 32rem) and (min-width: 48rem) {
  #realisation-menu #listing-realisation-caroussel {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 25vw;
  }
}

#realisation-menu #listing-realisation-caroussel .realisation-thumb {
  width: 100%;
  height: 100%;
}

#realisation-menu #listing-realisation-caroussel .realisation-thumb img,
#realisation-menu #listing-realisation-caroussel .realisation-thumb picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*

Listing Realisation [template-parts/archive-realisation.php]

Used in :

- Gutenberg block "Last Realisation" [template-parts/block/last-realisation.php]
- Template "Archive Realisation" [templates/tpl-archive-realisation.php]

File structure :
------------------
1 - Listing Layout
------------------
2 - Card Layout
    2.1 - Card Layout : Touch Devices
    2.2 - Card Layout : Hover Devices
    2.3 - Link effect : Touch Devices            
    2.4 - Link effect : Hover Devices
    2.5 - Thumbnail Style
*/
#listing-realisation {
  display: grid;
  grid-gap: 1.25rem;
  max-width: 82.5rem;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

@media screen and (min-width: 62.5rem) {
  #listing-realisation {
    grid-gap: 2.5rem;
  }
}

@media screen and (min-width: 56rem) {
  #listing-realisation {
    grid-template-columns: repeat(3, 1fr);
  }
}

.realisation-card {
  position: relative;
  line-height: 0;
}

.realisation-card > a {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.realisation-card > a > div {
  width: 100%;
  box-sizing: border-box;
}

.realisation-card > a .realisation-content {
  text-align: center;
  line-height: 1.5;
  background-color: rgba(231, 57, 71, 0.9);
  color: #fff;
  transition: all .4s;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
}

@media (hover) {
  .realisation-card > a .realisation-content {
    height: 100%;
    opacity: 0;
  }
  .realisation-card > a .realisation-content > span {
    position: inherit;
    padding: inherit;
    width: inherit;
    height: 100%;
    transition: inherit;
    left: 50%;
    box-sizing: inherit;
    bottom: 50%;
    transform: translate(-50%, 50%);
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .realisation-card > a .realisation-content > span > *:last-child {
    margin-bottom: 0;
  }
}

.realisation-card > a:hover .realisation-content, .realisation-card > a:focus .realisation-content, .realisation-card > a[focus-within] .realisation-content {
  opacity: 1;
  background-color: #0651f9;
}

.realisation-card > a:hover .realisation-content, .realisation-card > a:focus .realisation-content, .realisation-card > a:focus-within .realisation-content {
  opacity: 1;
  background-color: #0651f9;
}

@media (hover) {
  .realisation-card > a:hover .realisation-content, .realisation-card > a:focus .realisation-content, .realisation-card > a[focus-within] .realisation-content {
    background-color: rgba(231, 57, 71, 0.9);
  }
  .realisation-card > a:hover .realisation-content, .realisation-card > a:focus .realisation-content, .realisation-card > a:focus-within .realisation-content {
    background-color: rgba(231, 57, 71, 0.9);
  }
  .realisation-card > a:hover .realisation-content > span, .realisation-card > a:focus .realisation-content > span, .realisation-card > a[focus-within] .realisation-content > span {
    margin-bottom: 0;
  }
  .realisation-card > a:hover .realisation-content > span, .realisation-card > a:focus .realisation-content > span, .realisation-card > a:focus-within .realisation-content > span {
    margin-bottom: 0;
  }
}

.realisation-card .realisation-thumb > img {
  width: 100%;
  height: auto;
  margin: 0;
}

/*

Listing Post [template-parts/block/last-post.php]

Used in :

- Gutenberg block "Last Post" [template-parts/block/last-post.php]
- Template "Archive Post" [templates/tpl-archive-realisation.php]

File structure :
------------------
1 - Listing Layout
    1.1 - Variant Listing 
------------------
2 - Card Layout
    2.1 - Card Layout : Touch Devices
    2.2 - Card Layout : Hover Devices
    2.3 - Link effect : Touch Devices            
    2.4 - Link effect : Hover Devices
    2.5 - Thumbnail Style
    
*/
#listing-post,
#listing-post-3col {
  max-width: 82.5rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1.25rem;
}

@media screen and (min-width: 62.5rem) {
  #listing-post,
  #listing-post-3col {
    grid-gap: 2.5rem;
  }
}

@media screen and (min-width: 65rem) {
  #listing-post-3col {
    grid-template-columns: repeat(3, 1fr);
  }
}

article.post-card {
  display: block;
  text-align: left;
  background: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

article.post-card > div {
  color: #000;
  padding: 1.25rem 2rem 2rem 2rem;
}

article.post-card > div > a.link-red {
  text-decoration: none;
  margin-right: 1em;
}

article.post-card > div > a.link-red:last-of-type {
  margin-right: 0;
}

article.post-card > div > a.post-content {
  display: block;
  margin: 2rem 0;
  line-height: 1.5;
  transition: .2s color;
  text-decoration: none;
}

article.post-card > div > a.post-content:link, article.post-card > div > a.post-content:visited {
  color: inherit;
}

article.post-card > div > a.post-content:hover, article.post-card > div > a.post-content:focus, article.post-card > div > a.post-content[focus-within] {
  color: #0651f9;
}

article.post-card > div > a.post-content:hover, article.post-card > div > a.post-content:focus, article.post-card > div > a.post-content:focus-within {
  color: #0651f9;
}

article.post-card > div > a.post-content:active {
  color: #e73947;
}

article.post-card > div > a.post-content.stay-white {
  transition: .2s all;
}

article.post-card > div > a.post-content.stay-white:hover, article.post-card > div > a.post-content.stay-white:focus, article.post-card > div > a.post-content.stay-white[focus-within], article.post-card > div > a.post-content.stay-white:active {
  color: inherit;
}

article.post-card > div > a.post-content.stay-white:hover, article.post-card > div > a.post-content.stay-white:focus, article.post-card > div > a.post-content.stay-white:focus-within, article.post-card > div > a.post-content.stay-white:active {
  color: inherit;
}

article.post-card > div > a.post-content h3 {
  font-family: "Nunito", Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

@media screen and (min-width: 62.5rem) {
  article.post-card > div > a.post-content h3 {
    font-size: 1.75rem;
  }
}

article.post-card > div > a.post-content > div {
  color: #676767;
}

/*

Listing Realisation [template-parts/archive-realisation.php]

Used in :

- Gutenberg block "Last Realisation" [template-parts/block/last-realisation.php]
- Template "Archive Realisation" [templates/tpl-archive-realisation.php]

File structure :
------------------
1 - Listing Layout
------------------
2 - Card Layout
    2.1 - Card Layout : Touch Devices
    2.2 - Card Layout : Hover Devices
    2.3 - Link effect : Touch Devices            
    2.4 - Link effect : Hover Devices
    2.5 - Thumbnail Style
*/
#listing-staff {
  background: #232323;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-auto-rows: 50vw;
}

@media screen and (min-width: 32rem) {
  #listing-staff {
    grid-auto-rows: 50vw;
  }
}

@media screen and (min-width: 32rem) and (min-width: 48rem) {
  #listing-staff {
    grid-auto-rows: 33vw;
  }
}

@media screen and (min-width: 32rem) and (min-width: 48rem) and (min-width: 64rem) {
  #listing-staff {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 25vw;
  }
}

#listing-staff > .staff-card .staff-button {
  border: none;
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  color: #fff;
  padding: 2rem;
  line-height: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#listing-staff > .staff-card .staff-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
  transition: opacity .4s;
}

#listing-staff > .staff-card .staff-button > * {
  position: relative;
  z-index: 10;
}

@media (hover) {
  #listing-staff > .staff-card .staff-button > * {
    transition: opacity .4s;
    opacity: 0;
  }
}

#listing-staff > .staff-card .staff-button:hover::after, #listing-staff > .staff-card .staff-button:focus::after, #listing-staff > .staff-card .staff-button[focus-within]::after, #listing-staff > .staff-card .staff-button:active::after {
  opacity: 0.5;
}

#listing-staff > .staff-card .staff-button:hover::after, #listing-staff > .staff-card .staff-button:focus::after, #listing-staff > .staff-card .staff-button:focus-within::after, #listing-staff > .staff-card .staff-button:active::after {
  opacity: 0.5;
}

@media (hover) {
  #listing-staff > .staff-card .staff-button:hover > *, #listing-staff > .staff-card .staff-button:focus > *, #listing-staff > .staff-card .staff-button[focus-within] > *, #listing-staff > .staff-card .staff-button:active > * {
    opacity: 1;
  }
  #listing-staff > .staff-card .staff-button:hover > *, #listing-staff > .staff-card .staff-button:focus > *, #listing-staff > .staff-card .staff-button:focus-within > *, #listing-staff > .staff-card .staff-button:active > * {
    opacity: 1;
  }
}

#listing-staff > .staff-card .staff-button > h2 {
  font-family: "Nunito", Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

@media screen and (min-width: 62.5rem) {
  #listing-staff > .staff-card .staff-button > h2 {
    font-size: 1.5rem;
  }
}

#listing-staff > .staff-card .staff-button > p {
  margin-bottom: 0;
}

#listing-staff > .staff-card .staff-modal,
#listing-staff > .staff-card .staff-overlay,
#listing-staff > .staff-card .staff-close {
  opacity: 0.5;
  position: fixed;
  transition: all .4s;
}

#listing-staff > .staff-card .staff-modal {
  z-index: 400;
  background: #fff;
  top: 10vh;
  left: 50%;
  transform: translate(100%, 0%);
  width: 80vw;
  max-height: 80vh;
  justify-self: center;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-template-rows: auto 80vw;
  grid-template-areas: 'text' 'image';
}

@media screen and (max-width: 62.5rem) {
  #listing-staff > .staff-card .staff-modal {
    overflow-y: auto;
  }
}

#listing-staff > .staff-card .staff-modal > img,
#listing-staff > .staff-card .staff-modal > picture {
  grid-area: image;
  margin: 0;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 42.5rem) {
  #listing-staff > .staff-card .staff-modal {
    grid-template-areas: 'text image';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
  }
  #listing-staff > .staff-card .staff-modal > img,
  #listing-staff > .staff-card .staff-modal > picture {
    width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 62.5rem) {
  #listing-staff > .staff-card .staff-modal {
    grid-template-columns: 1fr 80vmin;
  }
}

#listing-staff > .staff-card .staff-modal .staff-infos {
  grid-area: text;
  padding: 2rem;
  line-height: 1.5;
}

#listing-staff > .staff-card .staff-modal .staff-infos > h2 {
  margin-bottom: 0.5rem;
}

#listing-staff > .staff-card .staff-modal .staff-infos > p {
  margin-bottom: 2rem;
}

#listing-staff > .staff-card .staff-modal .staff-infos > div {
  color: #676767;
  line-height: 2;
  margin-bottom: 2rem;
}

#listing-staff > .staff-card .staff-modal .staff-infos > a {
  text-decoration: none;
  margin-right: 1rem;
  transition: opacity .2s;
  text-align: center;
}

#listing-staff > .staff-card .staff-modal .staff-infos > a > img,
#listing-staff > .staff-card .staff-modal .staff-infos > a > picture {
  vertical-align: middle;
}

#listing-staff > .staff-card .staff-modal .staff-infos > a:link, #listing-staff > .staff-card .staff-modal .staff-infos > a:visited {
  opacity: 0.7;
}

#listing-staff > .staff-card .staff-modal .staff-infos > a:hover, #listing-staff > .staff-card .staff-modal .staff-infos > a:focus, #listing-staff > .staff-card .staff-modal .staff-infos > a[focus-within], #listing-staff > .staff-card .staff-modal .staff-infos > a:active {
  opacity: 1;
}

#listing-staff > .staff-card .staff-modal .staff-infos > a:hover, #listing-staff > .staff-card .staff-modal .staff-infos > a:focus, #listing-staff > .staff-card .staff-modal .staff-infos > a:focus-within, #listing-staff > .staff-card .staff-modal .staff-infos > a:active {
  opacity: 1;
}

#listing-staff > .staff-card .staff-overlay {
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 390;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
}

#listing-staff > .staff-card .staff-close {
  z-index: 400;
  top: 5vh;
  left: 50%;
  left: 50vw;
  transform: translate(400%, -50%);
  transform: translate(100vw, -50%);
  display: block;
  padding: 0.5rem 1rem;
}

#listing-staff > .staff-card.isActive .staff-modal,
#listing-staff > .staff-card.isActive .staff-overlay,
#listing-staff > .staff-card.isActive .staff-close {
  opacity: 1;
}

#listing-staff > .staff-card.isActive .staff-overlay {
  transform: translate(-50%, -50%);
}

#listing-staff > .staff-card.isActive .staff-modal {
  transform: translate(-50%, 0%);
}

#listing-staff > .staff-card.isActive .staff-close {
  transform: translate(-50%, -50%);
}

#listing-staff > .staff-card .staff-modal,
#listing-staff > .staff-card .staff-overlay,
#listing-staff > .staff-card .staff-close {
  opacity: 0.25;
  position: fixed;
}

/*

Gutenberg Core blocks

File structure :
------------------
0 - Select Core Blosks 
------------------
1 - Text
    1.1 - Paragraph
    1.2 - Title
    1.3 - List
    1.4 - Blockquote
    1.5 - Horizontal rule (divider)
    1.6 - Div (text-columns)
------------------
2 - Picture
    2.1 - Image
    2.2 - picture

*/
#raw-content {
  /* 1 - Text
    ------------------*/
  /* 2 - Picture
    ------------------*/
}

#raw-content > *:first-child:not(section) {
  margin-top: 1rem;
}

@media screen and (min-width: 25rem) {
  #raw-content > *:first-child:not(section) {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > *:first-child:not(section) {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content > *:first-child:not(section) {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #raw-content > *:first-child:not(section) {
    margin-top: 6rem;
  }
}

#raw-content > *:last-child:not(section) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 25rem) {
  #raw-content > *:last-child:not(section) {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > *:last-child:not(section) {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content > *:last-child:not(section) {
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #raw-content > *:last-child:not(section) {
    margin-bottom: 6rem;
  }
}

#raw-content > p,
#raw-content > h1,
#raw-content > h2,
#raw-content > h3,
#raw-content > h4,
#raw-content > h5,
#raw-content > h6,
#raw-content > ul,
#raw-content > ol,
#raw-content > div,
#raw-content > blockquote,
#raw-content > iframe {
  margin: auto;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  width: 100%;
  margin-bottom: 2rem;
}

@media screen and (min-width: 25rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    padding-right: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    padding-right: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    max-width: 85vw;
  }
}

@media screen and (min-width: 25rem) and (min-width: 42.5rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    max-width: 75vw;
  }
}

@media screen and (min-width: 25rem) and (min-width: 42.5rem) and (min-width: 62.5rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    max-width: 75vw;
  }
}

@media screen and (min-width: 25rem) and (min-width: 42.5rem) and (min-width: 62.5rem) and (min-width: 81.25rem) {
  #raw-content > p,
  #raw-content > h1,
  #raw-content > h2,
  #raw-content > h3,
  #raw-content > h4,
  #raw-content > h5,
  #raw-content > h6,
  #raw-content > ul,
  #raw-content > ol,
  #raw-content > div,
  #raw-content > blockquote,
  #raw-content > iframe {
    max-width: 61.875rem;
  }
}

#raw-content > p {
  font-size: inherit;
  color: inherit;
  line-height: 1.5;
}

#raw-content > p > *:first-child {
  margin-top: 0;
}

#raw-content > p > *:last-child {
  margin-bottom: 0;
}

#raw-content > p ul, #raw-content > p ol {
  margin: 1em auto;
  padding: 0 0 0 2em;
}

#raw-content > p ul li, #raw-content > p ol li {
  margin-bottom: 0.5em;
  list-style: square inside;
}

#raw-content > p ul li:last-of-type, #raw-content > p ol li:last-of-type {
  margin-bottom: 0;
}

#raw-content > p ol li {
  list-style: decimal inside;
}

#raw-content > p a {
  transition: .2s color;
}

#raw-content > p a:link, #raw-content > p a:visited {
  color: #e73947;
}

#raw-content > p a:hover, #raw-content > p a:focus, #raw-content > p a[focus-within] {
  color: #6a97fb;
}

#raw-content > p a:hover, #raw-content > p a:focus, #raw-content > p a:focus-within {
  color: #6a97fb;
}

#raw-content > p a:active {
  color: #0651f9;
}

#raw-content > p p > a {
  transition: .2s color;
}

#raw-content > p p > a:link, #raw-content > p p > a:visited {
  color: inherit;
}

#raw-content > p p > a:hover, #raw-content > p p > a:focus, #raw-content > p p > a[focus-within] {
  color: #0651f9;
}

#raw-content > p p > a:hover, #raw-content > p p > a:focus, #raw-content > p p > a:focus-within {
  color: #0651f9;
}

#raw-content > p p > a:active {
  color: #e73947;
}

#raw-content > p p > a.stay-white {
  transition: .2s all;
}

#raw-content > p p > a.stay-white:hover, #raw-content > p p > a.stay-white:focus, #raw-content > p p > a.stay-white[focus-within], #raw-content > p p > a.stay-white:active {
  color: inherit;
}

#raw-content > p p > a.stay-white:hover, #raw-content > p p > a.stay-white:focus, #raw-content > p p > a.stay-white:focus-within, #raw-content > p p > a.stay-white:active {
  color: inherit;
}

#raw-content > p button {
  background-color: #e73947;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  min-width: 4rem;
  color: #fff;
  transition: all .2s;
  cursor: pointer;
}

#raw-content > p button:hover, #raw-content > p button:focus {
  background-color: #6a97fb;
}

#raw-content > p button:active {
  background-color: #0651f9;
}

#raw-content > p blockquote {
  margin: 4rem auto;
  padding: 1rem 0 1rem 2rem;
  color: #e73947;
  border-left: 2px solid #e73947;
  font-family: "Nunito", Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2;
}

#raw-content > p blockquote > *:first-child {
  margin-top: 0;
}

#raw-content > p blockquote > *:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 62.5rem) {
  #raw-content > p blockquote {
    font-size: 1.75rem;
  }
}

#raw-content > ol li {
  list-style: decimal inside;
}

#raw-content > blockquote {
  margin: 4rem auto;
}

#raw-content > blockquote > * {
  padding: 1rem 0 1rem 2rem;
  color: #e73947;
  border-left: 2px solid #e73947;
  font-family: "Nunito", Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2;
}

#raw-content > blockquote > * > *:first-child {
  margin-top: 0;
}

#raw-content > blockquote > * > *:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 62.5rem) {
  #raw-content > blockquote > * {
    font-size: 1.75rem;
  }
}

#raw-content > blockquote > cite {
  color: #676767;
  font-family: "Nunito", Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (min-width: 62.5rem) {
  #raw-content > blockquote > cite {
    font-size: 1rem;
  }
}

#raw-content > hr {
  display: none;
}

#raw-content > hr.blk-divider {
  display: block;
  clear: both;
  background: transparent;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 1rem;
}

@media screen and (min-width: 25rem) {
  #raw-content > hr.blk-divider {
    height: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > hr.blk-divider {
    height: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content > hr.blk-divider {
    height: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #raw-content > hr.blk-divider {
    height: 6rem;
  }
}

#raw-content > img,
#raw-content > picture {
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
}

#raw-content > figure {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 25rem) {
  #raw-content > figure {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > figure {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content > figure {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #raw-content > figure {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  #raw-content > figure {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > figure {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content > figure {
    padding-right: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #raw-content > figure {
    padding-right: 6rem;
  }
}

#raw-content > figure > img,
#raw-content > figure > picture {
  max-width: 100%;
  height: auto;
  margin: auto;
}

@media screen and (min-width: 25rem) {
  #raw-content > figure {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > figure {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content > figure {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #raw-content > figure {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  #raw-content > figure {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > figure {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  #raw-content > figure {
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #raw-content > figure {
    padding-bottom: 6rem;
  }
}

#raw-content > figure > *:first-child {
  margin-top: 0;
}

#raw-content > figure > *:last-child {
  margin-bottom: 0;
}

#raw-content > figure > * {
  max-width: 100%;
  height: auto;
  max-width: 82.5rem;
  margin: auto;
}

#raw-content > figure > figcaption {
  margin-top: 2rem;
  text-align: center;
}

/*

Block Last-Post  [template-parts/block/last-post.php]

File structure :
------------------
1 -  Block Background
    1.1 - Pseudo element ::before
    1.2 - Mirror Background Image
*/
#blk-last-post {
  position: relative;
}

#blk-last-post::before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #FFD41B;
  background-image: url(./image/pattern-points.svg);
  background-repeat: repeat-Y;
  background-size: 25rem;
  background-position: right;
  transform: scaleX(-1);
}

/*

Block Savoir-Faire  [template-parts/block/savoir-faire.php]

File structure :
------------------
1 - Container Layout
------------------
2 - Card Style
    2.1 Card background
    2.2 Chessboard Color
    2.3 Interactivity
------------------
3 - Card content

*/
.blk-savoir-faire {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-auto-rows: 1fr;
  background: #232323;
  color: #fff;
}

@media screen and (min-width: 64rem) {
  .blk-savoir-faire {
    grid-template-columns: repeat(4, 1fr);
  }
}

.blk-savoir-faire .card-savoir-faire {
  padding: 1.5rem;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.blk-savoir-faire .card-savoir-faire::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #232323;
  z-index: 1;
  opacity: 1;
  transition: opacity .4s;
}

@media screen and (max-width: 32rem) {
  .blk-savoir-faire .card-savoir-faire:nth-of-type(odd)::after {
    background: #282828;
  }
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .blk-savoir-faire .card-savoir-faire:nth-of-type(4n+2)::after, .blk-savoir-faire .card-savoir-faire:nth-of-type(4n+3)::after {
    background: #282828;
  }
}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
  .blk-savoir-faire .card-savoir-faire:nth-of-type(odd)::after {
    background: #282828;
  }
}

@media screen and (min-width: 64rem) {
  .blk-savoir-faire .card-savoir-faire:nth-of-type(8n+2)::after, .blk-savoir-faire .card-savoir-faire:nth-of-type(8n+4)::after, .blk-savoir-faire .card-savoir-faire:nth-of-type(8n+5)::after, .blk-savoir-faire .card-savoir-faire:nth-of-type(8n+7)::after {
    background: #282828;
  }
}

.blk-savoir-faire .card-savoir-faire:link::after, .blk-savoir-faire .card-savoir-faire:visited::after {
  opacity: 1;
}

.blk-savoir-faire .card-savoir-faire:hover::after, .blk-savoir-faire .card-savoir-faire:focus::after, .blk-savoir-faire .card-savoir-faire[focus-within]::after, .blk-savoir-faire .card-savoir-faire:active::after {
  opacity: 0;
}

.blk-savoir-faire .card-savoir-faire:hover::after, .blk-savoir-faire .card-savoir-faire:focus::after, .blk-savoir-faire .card-savoir-faire:focus-within::after, .blk-savoir-faire .card-savoir-faire:active::after {
  opacity: 0;
}

.blk-savoir-faire .card-savoir-faire > img,
.blk-savoir-faire .card-savoir-faire > picture,
.blk-savoir-faire .card-savoir-faire h2 {
  position: relative;
  z-index: 10;
}

.blk-savoir-faire .card-savoir-faire img,
.blk-savoir-faire .card-savoir-faire picture {
  height: 5rem;
  width: auto;
  margin: 0 0 2.5rem 0;
}

/*

Block Savoir-Faire  [template-parts/block/savoir-faire.php]

File structure :
------------------
1 - Container Layout
    1.1 Responsive : 2 cards / line maximum
    1.2 Responsive : 3 cards / line maximum
------------------
2 - Card Style
    2.1 - Card Layout 
    2.2 - Color settings
    2.3 Card Background Image
    2.4 Interactivity
------------------
3 - Card content

*/
.blk-backstage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  justify-content: center;
  grid-auto-rows: minmax(25vw, 1fr);
  color: #fff;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .blk-backstage {
    grid-auto-rows: minmax(50vw, 1fr);
  }
}

@media screen and (min-width: 48rem) {
  .blk-backstage {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(33vw, 1fr);
  }
}

.blk-backstage .card-backstage {
  padding: 2rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.blk-backstage .card-backstage > img,
.blk-backstage .card-backstage > picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity .4s;
}

.blk-backstage .card-backstage:link, .blk-backstage .card-backstage:visited {
  color: inherit;
}

.blk-backstage .card-backstage:hover, .blk-backstage .card-backstage:focus, .blk-backstage .card-backstage[focus-within], .blk-backstage .card-backstage:active {
  color: inherit;
}

.blk-backstage .card-backstage:hover, .blk-backstage .card-backstage:focus, .blk-backstage .card-backstage:focus-within, .blk-backstage .card-backstage:active {
  color: inherit;
}

.blk-backstage .card-backstage:hover > img,
.blk-backstage .card-backstage:hover > picture, .blk-backstage .card-backstage:focus > img,
.blk-backstage .card-backstage:focus > picture, .blk-backstage .card-backstage[focus-within] > img,
.blk-backstage .card-backstage[focus-within] > picture, .blk-backstage .card-backstage:active > img,
.blk-backstage .card-backstage:active > picture {
  opacity: 1;
}

.blk-backstage .card-backstage:hover > img,
.blk-backstage .card-backstage:hover > picture, .blk-backstage .card-backstage:focus > img,
.blk-backstage .card-backstage:focus > picture, .blk-backstage .card-backstage:focus-within > img,
.blk-backstage .card-backstage:focus-within > picture, .blk-backstage .card-backstage:active > img,
.blk-backstage .card-backstage:active > picture {
  opacity: 1;
}

.blk-backstage .card-backstage > div {
  display: block;
  position: relative;
  z-index: 10;
}

.blk-backstage .card-backstage > div > h2 {
  margin-bottom: 0.5rem;
}

.blk-backstage .card-backstage > div > p {
  margin-bottom: 0;
}

/*

Block Video [template-parts/block/savoir-faire.php]

File structure :
------------------
1 - Block
    1.1 - Block layout
    1.2 - Image Settings
------------------
2 - Video Icon

*/
.blk-video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.blk-video > img,
.blk-video > picture {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.is-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  height: 6rem;
  width: 6rem;
  background-image: url("./image/player.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem 3rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 0.5rem solid currentColor;
  color: white;
  transition: all .4s;
  cursor: pointer;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5));
}

.is-icon:hover, .is-icon:focus, .is-icon[focus-within] {
  color: rgba(255, 255, 255, 0.5);
  border-width: 0.25rem;
  background-size: 4rem 4rem;
}

.is-icon:hover, .is-icon:focus, .is-icon:focus-within {
  color: rgba(255, 255, 255, 0.5);
  border-width: 0.25rem;
  background-size: 4rem 4rem;
}

.show-icon {
  position: relative;
  transition: all .4s;
}

.show-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  height: 6rem;
  width: 6rem;
  background-image: url("./image/player.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem 3rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 0.5rem solid currentColor;
  color: white;
  transition: all .4s;
  cursor: pointer;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5));
}

.show-icon::after:hover, .show-icon::after:focus, .show-icon::after[focus-within] {
  color: rgba(255, 255, 255, 0.5);
  border-width: 0.25rem;
  background-size: 4rem 4rem;
}

.show-icon::after:hover, .show-icon::after:focus, .show-icon::after:focus-within {
  color: rgba(255, 255, 255, 0.5);
  border-width: 0.25rem;
  background-size: 4rem 4rem;
}

/*

Block Video [template-parts/block/savoir-faire.php]

File structure :
------------------
1 - Block


*/
.blk-button .entry-content {
  margin-bottom: 2rem;
}

/*

Block Text en colonne  [template-parts/block/text-column.php]

File structure :
------------------
1 - Container Layout

*/
.blk-text-column.no-image > .text-column {
  column-count: 1;
}

@media screen and (min-width: 42.5rem) {
  .blk-text-column.no-image > .text-column {
    column-count: 2;
    column-gap: 2rem;
  }
}

.blk-text-column.has-image {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25rem;
  grid-template-columns: 1fr;
  grid-template-areas: "text" "img";
}

@media screen and (min-width: 62.5rem) {
  .blk-text-column.has-image {
    grid-gap: 2.5rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .blk-text-column.has-image.image-left {
    grid-template-areas: "img text";
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 62.5rem) and (min-width: 81.25rem) {
  .blk-text-column.has-image.image-left {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (min-width: 62.5rem) {
  .blk-text-column.has-image.image-right {
    grid-template-areas: "text img";
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 62.5rem) and (min-width: 81.25rem) {
  .blk-text-column.has-image.image-right {
    grid-template-columns: 2fr 1fr;
  }
}

.blk-text-column.has-image > .text-column {
  grid-area: text;
  column-count: 1;
}

@media screen and (min-width: 42.5rem) and (max-width: 62.49rem) {
  .blk-text-column.has-image > .text-column {
    column-count: 2;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .blk-text-column.has-image > .text-column {
    column-count: 2;
    column-gap: 2rem;
  }
}

.blk-text-column > a {
  grid-area: img;
  width: 100%;
  height: auto;
  margin: 0;
}

.blk-text-column > a > img,
.blk-text-column > a > picture {
  width: 100%;
  height: auto;
}
