/*

Style content (#content)

File structure :
------------------
1 - Wrapper settings (horizontal)
  1.1 : Wrapper
  1.2 : Narrow-wrapper
  1.3 : Block-wrapper
------------------
2 - Block settings (vertical)
  2.0 : After topbar
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link
  3.1 - Link default
  3.2 - Link red
  3.3 - Link underline
  3.4 - Button
  3.5 - Button + icon + label
  3.6 - Link Image
------------------
4 - Background
------------------
5 - Entry-content
------------------
6 - Shadow

*/

/* 1 - Wrapper settings
------------------ */

//1.1 : Wrapper (horizontal padding)
@mixin wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  @include spacing(padding-left, $wrapper-padding);
  @include spacing(padding-right, $wrapper-padding);
  margin: auto;
  //@include max-width($desktop_width, $spacing-regular);
  // max-width: 1500px; - 600 - 300
  > img,
  > picture {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}
.wrapper {
  @include wrapper;
}

// 1.2 : Narrow-wrapper
@mixin narrow-wrapper {
  margin: auto;
  box-sizing: border-box;
  @include spacing(padding-left, $wrapper-padding);
  @include spacing(padding-right, $wrapper-padding);
  margin: auto;
  width: 100%;
  // Size 2 : Mobile
  @media screen and (min-width: $tiny_width) {
    max-width: 85vw;
    // Size 3 : Tablet
    @media screen and (min-width: $mobile_width) {
      max-width: 75vw;
      // Size 4 : Desktop
      @media screen and (min-width: $tablet_width) {
        max-width: 75vw;
        // Size 5 : Huge
        @media screen and (min-width: $desktop_width) {
          max-width: $blocked_wrapper_width * 0.75;
          //max-width: $desktop_width / 2;
        }
      }
    }
  }
}
  .narrow-wrapper {
    @include narrow-wrapper;
  }

// 1.3 : Blocked Wrapper
@mixin blocked-wrapper {
  max-width: $blocked_wrapper_width;
  margin: auto;
}

.blocked-wrapper {
  @include blocked-wrapper;
}

/* 2 - Vertical Rythm 
------------------ */

// 2.1 - Below topbar (margin-top)
@mixin after-topbar {
  margin-top: 6rem;
  @media screen and (min-width: $tablet_width) {
    margin-top: 8rem;
  }
}
.after-topbar {
  @include after-topbar;
}
@mixin vertical-padding-content {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

//2.1 : Vertical Padding Regular
@mixin v-padding-regular {
  @include spacing( padding-top, $vertical-padding-regular );
  @include spacing( padding-bottom, $vertical-padding-regular );
  @include vertical-padding-content ;
}

.v-padding-regular {
  @include v-padding-regular;
}

//2.2 : Vertical Padding Small
@mixin v-padding-small {
  @include spacing( padding-top, $vertical-padding-small );
  @include spacing( padding-bottom, $vertical-padding-small );
  @include vertical-padding-content ;
}

.v-padding-small {
  @include v-padding-small;
}

/* 3 - Link
------------------ */

// 3.1 - Link-default (not for blue or red background)
@mixin link-default {
  transition: .2s color;
  &:link,
  &:visited {
      color: inherit;
  }
  &:hover,
  &:focus,
  &:focus-within {
      color: $brand-blue;
  }
  &:active {
      color: $brand-red;
  }
  // Some links should not change color on hover
  &.stay-white {
    transition: .2s all;

    &:hover,
    &:focus,
    &:focus-within,
    &:active  {
        color: inherit;
        //background-color: rgba($black, 0.25);
    }
  }
}
  .link-default {
    @include link-default;
  }

// 3.2 - Link Red
 @mixin link-red {
  transition: .2s color;
  &:link,
  &:visited {
      color: $brand-red;
  }
  &:hover,
  &:focus,
  &:focus-within {
    color: lighten($brand-blue, 20);
  }
  &:active {
      color: $brand-blue;
  }
}
  .link-red {
    @include link-red;
  }

// 3.3 - Link Underline
@mixin link-underline {
  text-decoration: none;
  position: relative;
  padding-bottom: 0.25em;
  a:link,
  a:visited {
    color: inherit;
  }
  &::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    color: inherit;
    transform-origin: left;
    background-color: currentColor;
    transition: transform 0.4s, color 0.4s;
  }
  &:hover,
  &:focus,
  &:focus-within {
    &::after{
      right: 0;
      width: 100%;
      transform: scaleX(0);
      transform-origin: right;
    }
  }
}
  .link-underline {
    @include link-underline;
  }

  // Link to Archive page
  .link-archive {
    display: inline-block;
    @include link-underline;
    @include font(title, regular, lead-paragraph);
    margin-top: 2rem;
    margin-right: 1em;
    &:last-of-type {
        margin-right: 0;
    }
}

// 3.4 - Button
@mixin button($color) {
  background-color: $color;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  min-width: 4rem;
  color: $white;
  transition: all .2s;
  cursor: pointer;
  &:hover,
  &:focus {
      background-color: lighten($brand-blue, 20);
  }
  &:active {
      background-color: $brand-blue;
  }
}

@mixin button-icon-label {
  display: block;
  @include font(text, regular, body);
  > * {
    vertical-align: middle;
  }
  label {
      margin-right: 0.5rem;
      cursor: pointer;
  }

  &:hover,
  &:focus,
  &:active {
      background-color: rgba($brand-yellow, 0.25);
  }
}
.button-icon-label {
  @include button-icon-label;
}

// 3.6 Link Image
@mixin link-image {
  text-decoration: none;
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
  overflow: hidden;
  img,
  picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all .2s;
  }
  // On hover : 
  &:hover,
  &:focus {
    img,
    picture {
      transform: scale(1.1);
      transition: all .4s;
    }
  }
}

  .link-image {
    @include link-image;
  }

/* 4 - Background
------------------ */

@mixin background-pattern {
  background-image: url(./image/pattern-points.svg);
  background-repeat: repeat-Y ;
  background-size: pixel(400);
  background-position: right;
}

@mixin overlay-style {
  width: 100%;// fallback for old-browsers
  width: 100vw;
  height: 100%;// fallback for old-browsers
  height: 100vh;
  background-color: rgba(black, 0.8);
}

/* 5 - Entry Content
----------------- */

@mixin entry-content {
  font-size: inherit;
  color: inherit;
  line-height: $lh-standard;
  @include vertical-padding-content;

  ul, ol {
    @include entry-content-list;
  }

  ol {
    @include entry-content-ol;
  }
  
  a {
    @include link-red ;
  }

  p > a {
    @include link-default;
  }

  button{
    @include button($brand-red);
  }

  blockquote {
    margin: 4rem auto;
    @include entry-content-blockquote;
  }

}

@mixin entry-content-blockquote {
  padding: 1rem 0 1rem 2rem; // top right bottom left
  color: $brand-red;
  border-left: 2px solid $brand-red;
  @include vertical-padding-content;
  // same style as lead-paragraph
  @include font(text, regular, lead-paragraph);
  line-height: $lh-small;
}



// Entry-content : List style (ul + ol) 
@mixin entry-content-list {
  margin: 1em auto;
  padding: 0 0 0 2em; // t r b l
  li {
    margin-bottom: 0.5em;
    list-style: square inside;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// Entry-content : List varaint (ol only) 
@mixin entry-content-ol {
  li {
    list-style: decimal inside;
  }
}

.entry-content {
  @include entry-content;
}
/* 6 - Shadow
---------------- */
@mixin shadow {
  box-shadow: 0 10px 40px rgba(black, 0.1);
}


