/*

Footer [footer.php]

File structure :
------------------
1- Footer Layout
    1.A - Layout for Mobile (Sizes 1 + 2 : tiny + mobile)
    1.B - Layout for Tablet (Size 3 : tablet)
    1.C - Layout for Desktop (Size 4  : desktop)
    1.D - Layout for Huge Screens (Size 5 : huge)
------------------
2 - Widgets Style
    2.1 Widget : Infos
    2.2 Widget : contact
    2.3 Widget : newsletter
    2.4 Widget : actus
------------------
3 - Copyright style
    3.1 - Links
    3.2 - Label image
------------------
4 - Social links style
------------------
5 - Title style (widget)

*/

#footer {
    margin: 0;
    padding: 0;
    padding: pixel(40) 0;
    color: $black;
    background-color: $brand-yellow;
    @include background-pattern;
    line-height: $lh-big;
    // 1- Footer Layout
    #footer-layout {
        display: grid;
        grid-template-rows: auto;
        @include gutter;
        row-gap: 4rem;
        // 1.A - Footer Layout for Mobile (Sizes 1 + 2 : tiny + mobile)
        @media screen and (max-width: $mobile_width - 0.01rem) {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "infos"
                "contact"
                "newsletter"
                "actus"
                "copyright" 
                "social";
        }
        // 1.B - Footer Layout for Tablet (Size 3 : tablet)
        @media screen and (min-width: $mobile_width) and (max-width: $tablet_width - 0.01rem) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                "infos      infos"
                "contact    newsletter"
                "actus      actus"
                "copyright  copyright"
                "social social";
        }
        // 1.C - Footer Layout for Desktop (Size 4  : desktop)
        @media screen and (min-width: $tablet_width) and (max-width: $desktop_width - 0.01rem) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "infos      contact     newsletter"
                "actus      actus       actus" 
                "copyright  copyright   social";
        }
        // 1.D - Footer Layout for Huge Screens (Size 5 : huge)
        @media screen and (min-width: $desktop_width) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
                "infos      contact     newsletter   actus" 
                "copyright  copyright   copyright    social";
        }
        // 2 - Widgets Style
        // Each widget has a name-space 
        >li {
            list-style: none;
            // 2.1 Widget : Infos
            &:nth-of-type(1) {
                grid-area: infos;
                img,
                picture {
                    margin-bottom: 1rem;
                    width: 100px;
                    height: auto;
                }
                p {
                    margin-bottom: 1rem;
                }
                *:last-child {
                    margin-bottom: 0;
                }
            }
            // 2.2 Widget : contact
            &:nth-of-type(2) {
                grid-area: contact;
                p {
                    margin: 0;
                    margin-bottom: pixel(28);
                }
                a {
                    font-size: pixel(24);
                    text-decoration: underline;
                    @include link-default;
                    line-height: $lh-small;
                    margin: 0.25rem 0 0 0; // t r b l
                    display: block;
                }
            }
            // 2.3 Widget : newsletter
            &:nth-of-type(3) {
                grid-area: newsletter;
                form {
                    display: grid;
                    grid-template-columns: auto 5rem;
                    grid-gap: 1rem;
                    .checkbox {
                        grid-column: 1 / 3;
                    }
                }
            }
            // 2.4 Widget : actus
            &:nth-of-type(4) {
                grid-area: actus;
                ul {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-gap: 0.75rem;
                    padding: 0;
                    margin: 0;
                    // Layout for Mobile (Size 3 : tablet) : 2 columns
                    @media screen and (min-width: $tiny_width) and (max-width: $tablet_width - 0.01rem) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    // Actus Layout for Desktop (Size 5 : huge) : 2 columns
                    @media screen and (min-width: $tablet_width) and (max-width: $desktop_width - 0.01rem) {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
                li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    line-height: 1;
                    a {
                        @include link-default;
                        text-decoration: none;
                        line-height: $lh-standard;
                    }
                }
            }
        }
        // 3 - Copyright style
        #footerCopyright {
            grid-area: copyright;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            // 3.1 - Links
            a {
                @include link-default;
                text-decoration: none;
                display: inline-block;
                margin-right: 1rem;
                &:not(:last-of-type) {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: -0.75rem;
                        width: 0.25rem;
                        height: 1px;
                        background: black;
                    }
                }
            }
            // 3.2 - Label image
            .label {
                width: pixel(60);
                min-width: pixel(60);
                height: auto;
                margin-right: 1rem;
            }
        }
        // 4 - Social links style
        #footerSocial {
            grid-area: social;
            text-align: left;
            @media screen and (min-width: $tablet_width) {
                text-align: right;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: flex-end;
            }
            // Links Style (Icons)
            a {
                text-decoration: none;
                transition: all .2s;
                padding: 0.5rem;
                text-align: center;
                img,
                picture {
                    vertical-align: middle;
                }
                &:link,
                &:visited {
                    border: 1px solid transparent;
                    background-color: transparent;
                }
                &:hover {
                    background-color: darken($brand-yellow, 15);
                }
                &:focus,
                &:focus-within {
                    border: 1px solid $brand-blue;
                }
                &:active {
                    background-color: $brand-blue;
                }
            }
        }
        // 5 - Title style (widget)
        h2,
        h3 {
            margin: 0;
            margin-bottom: pixel(28);
            @include font(title, regular, h4);
            letter-spacing: $ls-regular;
        }
    }
}