/*

Header [header.php]

File structure :
------------------
0 - Header layout
------------------
1- Header Layout : Mobile (Sizes 1 + 2 + 3 : tiny + mobile + tablet)
    1.A - Menu mobile : hidden
    1.B - Menu mobile : visible
    1.C - Menu mobile : overlay
    1.D - Dropdown
    1.E - Button style
    1.F - Links style
    1.G - Social icon links
------------------
2 - Header Layout : Desktop (Sizes 4 + 5 : desktop + huge)
    2.A - Links style
    2.B - Dropdown
    2.C - Social icon links
------------------
3 - Homepage Variante : menu is white on homepage
    3.1 - Color Mobile (Sizes 1 + 2 + 3)
    3.2 - Color desktop (Sizes 4 + 5)
------------------
4 - Scroll effects
    4.1 - White topbar
    4.2 - Smaller logo
    4.3 - Menu-white gets black on scroll

*/

// 0 - Header layout
#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    position: fixed;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    @media screen and (min-width: $tablet_width) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    @include spacing (padding-left, $wrapper-padding);
    @include spacing (padding-right, $wrapper-padding);
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transition: all .4s;
    z-index: $index-navigation;

    &.menu-small {
        padding-top: 0;
        padding-bottom: 0;
    }

    li:not(.current-menu-item) > a {
        text-decoration: none;
        opacity: 1;
    }

    > #home_link {
        max-height: pixel(60);
        transition: all .4s;
        img,
        picture {
            height: 100%;
            max-height: inherit;
            width: auto;
        }
    }

    // 1 - 1- Header Layout : Mobile
    // (Sizes 1 + 2 + 3 : tiny + mobile + tablet)
    @media screen and (max-width: $tablet_width - 0.01rem) {
        
        // 1.A Menu mobile : hidden
        > #headerMenu {
            position: fixed;
            z-index: $index-navigation;
            //height: 100%;
            height: 100vh;
            background: $brand-blue;
            color: $white;
            top: 0;
            right: -18rem;
            width: 18rem;
            transition: transform .4s;
            padding: 0.25rem 1rem;
            box-sizing: border-box;
            overflow: scroll;
        }

        // 1.B Menu mobile : visible
        &.menu-open {
            > #headerMenu {
                transform: translate( -18rem, 0 );
                // Menu movile appears from the right
            }
            > #overlay {
                display: block;
                // Website overlay appears;
            }
        }
        
        // 1.C Menu mobile : Overlay
        // the website gets darker when the mobile menu is visible

        > #overlay {
            @include overlay-style;
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
            transition: display .4s;
            display: none;
            z-index: $index-overlay; 
        }

        // 1.D - Dropdowns on mobile
        .sub-menu {
            background: darken($brand-blue, 15);
            padding: 0.75rem 0.5rem;    
            // Level 2 - links are small
            a {
                font-size: pixel(16);
            }     
        }

        // For Devices that can handle hover 
        @media (hover) {                
            .menu-item-has-children {
                @include icon(arrow-down);
                padding-right: 4rem;

                // 1.D.1 : Dropdown hidden
                .sub-menu {
                    padding: 0;
                    background: $brand-blue;
                    opacity: 0;
                    height: 0px;
                    box-sizing: border-box;
                    transition: all .2s;
                }

                // 1.D.2 : Dropdown appears
                &:hover,
                &:active,
                &:focus,
                &:focus-within {
                    .sub-menu {
                        opacity: 1;
                        height: auto;
                    }
                }
            }
        }
        
        // 1.E - Button Style
        #burger-menu,
        #close-menu {
            color: inherit;
            display: flex;
            height: 3rem;
            width: 3rem;
            img,
            picture {
                margin: auto;
            }
        }

        #close-menu {
           margin-left: auto;
        }

        // 1.F - Links style
        #headerLinks {
            > div > ul {
                padding: 0;
                
            }
            ul {
            list-style: none;
            padding: 1rem;
            margin: 0;
            }
            .menu-item-has-children {
                background-position:  100% -0.25em;
            }

            .menu-item-has-children,
            a {
                // Level 1 - Links are big
                font-size: pixel(20);
            }

            a {
                @include font(text, bold);
                margin: 0.75rem 0;
                display: block;
                transition: all .2s;  
                &:link,
                &:visited {
                    color: $white;
                    // For Devices that can't handle hover : opacity changes
                    @media (hover) {
                        opacity: 0.7;
                    }
                }
                &:hover,
                &:focus {
                    color: $brand-yellow;
                    // For Devices that can't handle hover : opacity changes
                    @media (hover) {
                        color: $white;
                        opacity: 1;
                    }
                }
                &:active {
                    color: $brand-yellow;
                }
            }

            li:first-of-type > a{
                margin-top: 0;
            }
            li:last-of-type > a {
                margin-bottom: 0;
            }


        }

        // 1.G - Social icon links
        #headerSocial {
            filter: invert(100%);
            margin: 2rem 0;
            a {
                text-decoration: none;
                margin-right: 1rem;
                transition: opacity .2s;
                text-align: center;
                img,
                picture {
                    vertical-align: middle;
                }
                &:link,
                &:visited {
                    opacity: 0.7
                }
                &:hover,
                &:focus,
                &:focus-within,
                &:active {
                    opacity: 1;
                }
            }
        }
    }

    // 2 - Menu desktop (Sizes 4 + 5 : desktop + huge)
    @media screen and (min-width: $tablet_width) {

        .menu-item-has-children {
            @include icon(arrow-down);
        }

        > #home_link {
            max-height: pixel(80);
        }

        // 2.A - Links style
        > #headerMenu {
        
            // List of links
            #headerLinks {
                display: inline;
                float: left;
                margin-right: 1rem;

                ul {
                    display: inline;
                    padding: 0;

                    // Links level 1
                    > li {
                        list-style: none;
                        display: inline;
                        margin: 0;
                        margin-right: 1rem;
                        &:last-of-type {
                            margin: 0;
                        }
                        &.menu-item-has-children {
                            position: relative;
                        }
                        // Link style - level 1
                        a {
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                            transition: color .2s;
                            &:link,
                            &:visited {
                                color: $black;
                            }
                            &:hover,
                            &:focus {
                                color: $brand-blue;
                            }
                            &:active {
                                color: $brand-yellow;
                            }
                        }

                        // 2.B.1 Dropdown hidden
                        //Links level 2 : dropdown
                        > ul {
                            margin-top: -1rem;
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%, 0%);
                            //top: 2em;
                            top: -100rem;
                            color: $white;
                            background-color: $brand-blue;
                            padding: 0.5rem;
                            opacity: 0;
                            transition: opacity .2s;
                            > li {
                                list-style: none;
                                display: inline;
                                margin: 0;
                            }
                            // link-style - level 2
                            a {
                                padding: 0.5em;
                                display: block;
                                background-color: $brand-blue;
                                &:link,
                                &:visited {
                                    color: inherit;
                                    transition: background-color .1s;
                                }
                                &:hover,
                                &:focus {
                                    background-color: lighten( $brand-blue, 10%);
                                }
                                &:active {
                                    background-color: $brand-yellow;
                                }
     
                            }
                        }

                    }
                    /// 2.B.2 Dropdown Dropdown appears
                    li:active,
                    li:focus,
                    li:focus-within,
                    li:hover {
                        > ul {
                            top: 2.6rem;
                            opacity: 1;
                            transition: opacity .2s;
                        }
                    }
                }
            }

            // 2.C - Social icon links
            #headerSocial {
                float: right;
                display: inline;
                a {
                    text-decoration: none;
                    margin-right: 1rem;
                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
        }
    }
    
    // 3 - Homepage Variante : menu is white on homepage
    // menu-white on scroll, homepage header gets .menu-white class
    &.menu-white {

        // 3.1 - Color Mobile (Sizes 1 + 2 + 3)
        @media screen and (max-width: $tablet_width - 0.01rem) {
            #home_link,
            #burger-menu {
                filter: invert(100%); // logo gets white
            }
        }

        // 3.2 - Color desktop (Sizes 4 + 5)
        @media screen and (min-width: $tablet_width) {
            
            filter: invert(100%);
            .menu-item-has-children {
                //filter: invert(100%); // Dropdowns menus are not impacted by the filter
            }
            .sub-menu {
                filter: invert(100%); // Dropdowns menus are not impacted by the filter
            }
        }
    }
    

    // 4 : Scroll effect :
    // On scroll, #menu gets .menu-small (see menu.js)
    &.menu-small {

        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        // 4.1 : White Background
        //topbar bg gets white on mobile
        background-color: $white;
        //topbar bg is tranaprent on desktop
        @media screen and (min-width: $tablet_width) {
            background-color: rgba($white, 0.9);
        }
        
        //4.2 : Smaller logo
        //menu logo gets smaller
        > #home_link {
            max-height: pixel(40);
            // 2 - Layout desktop (Sizes 4 + 5 : desktop + huge)
             @media screen and (min-width: $tablet_width) {
                max-height: pixel(60);
            }
        }

        // 4.3 - Menu-white gets black on scroll
        &.menu-white {
            filter: invert(100%);
            .menu-item-has-children {
                filter: invert(100%); // Dropdowns menus are not impacted by the filter
            }
            .sub-menu {
                filter: invert(100%); // Dropdowns menus are not impacted by the filter
            }
        }
    }
}