// 1 - Homepage Hero 
#hp-hero {

    // fullscreen effect
    min-height: 100vh;
    height: 100vh;

    // Content is centred horizontaly an verticaly
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    // Text settings
    text-align: center;
    color: $white;
    font-size: 2rem;
    position: relative;

    // Background-settings (image)
    #frontpage-hero {
        width: 100%;
        height: inherit;
        min-height: inherit;
        overflow: hidden;
        position: absolute;
        left: 0%;
        top: 0%;
        text-align: left;
        z-index: -1;
        @media screen and (min-height: 100vw) {
            text-align: left;
        }

        //transform : translate(0%, -50%);
        > img,
        > picture > img,
        > picture > source {
            height: 100%;
            width: auto;

            @media screen and (min-height: 100vw) {
                text-align: left;
            }

        }
        /*
        background-repeat: no-repeat; 
        background-position: left; 
        background-size: auto 100%;
        @media screen and (min-height: 100vw) {
            background-position: left bottom;
            text-align: left;
        }
        */
    }


    // 1.1 Hero background style    
    position: relative;
    &::after,
    &::before {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content:"";
    }
    // 1.2 - Background pattern
    // Right-side Pattern is created with pseudo-element ::after
    &::after {
        @include background-pattern;
        z-index: -1;
    }
    // 1.3 Background Color
    &::before {
        background-color: $brand-yellow;
        z-index: -10;
    }

    // 1.4 - Homepage Title
    #hp-title {
        line-height: $lh-small;
        font-size: pixel(48); // Static size for mobile
        @media screen and (min-width: 37.5rem) {
            font-size: 8vw; // Fluid size
            @media screen and (min-width: 75rem) {
                font-size: pixel(96);
            }
        }
    }

    p {
        margin: 0;
    }

    // 2 - Video Homepage

    // Button 1 : show video
    .show-icon {
        margin-top: 2rem;
        width: 8rem;
        height: 8rem;
    }
}


// Modal Container
.modale {
    // Modal Layout
    opacity: 0;
    position: fixed;
    z-index: $index-modal;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    transform: translate(100%, -50%);
    box-sizing: border-box;
    transition: all .4s; 
    background-color: rgba(black, 0.8);

    .closeModale {
        outline: 0;
        background-color: transparent;
        transition: all .2s;
        color: $white;
        font-size: 1rem;
        height: 4rem;
        width: 4rem;
        border-radius: 2rem;
        border: 1px solid currentColor ;
        margin-bottom: 2rem;
        cursor: pointer;
        &:hover,
        &:focus,
        &:active {
            background-color: $brand-red;
            border-color: $brand-red;
        }
    }

    /*
    // Butoon 2 - close video
    #video-close {
        grid-row: 1 / 2;
    }
    */

    // Player Video
    iframe {
        grid-row: 2 / 3;
        //width: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        margin: auto;
        // height: auto;
        box-sizing: border-box;
    }

    #video-close,
    iframe {
        grid-column: 2; 
    }

    /*
    // Overlay (Close Modal)
    #video-overlay {
        background-color: rgba(black, 0.8);
        width: 100%;
        height: 100%;
        grid-row: 1 / 4;
        grid-column: 1 / 4;
        border: none;
    }
    */

    // Modal appears
    &.active {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}