// Single post
.single-post {

    > header > span {
        min-height: 60vh; 
        @media screen and (max-width: $mobile_width ) {
            min-height:100vw; 
        }
        // Background settings
        color: $white;
        // text-align: left;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        @include spacing(padding-left, $wrapper-padding);
        @include spacing(padding-right, $wrapper-padding);
        @include spacing(padding-top, $vertical-padding-small);
        @include spacing(padding-bottom, $vertical-padding-small);

        h1 {
            color: $white;
            margin-top: auto;
            margin-bottom: 1.5rem;
        }
        ul.post-categories {
            list-style: none;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            padding: 0;
            li {
                margin-right: 1rem;
                &:last-of-type {
                    margin-right: 0;
                }
            }
            a {
                display: inline-block;
                @include button($brand-red);
                text-decoration: none;
            }
        }
        img,
        picture {
            margin: 0;
        }
    }
}

// 1.2 - Thumbnail 
// Thumbnail is a background-image. Link is created with (see content-realisation.php)
#header-bg-desktop,
#header-bg-mobile {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#header-bg-desktop > #header-bg-mobile {
    @media screen and (min-width: $mobile_width ) {
        background-image: none;
    }
}

#header-bg-desktop {
    background-color: $brand-blue; // fallback color if no thumbnail
}


// Share post
#share-linkedin, 
#share-twitter {
    text-decoration: none;
    display: inline-block;
    border: 2px solid currentColor;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    transition: all .2s;
    &:link,
    &:visited {
        background-color: $white;
    }
    &:hover,
    &:focus {
        background-color: currentColor;
        label {
            color: $white;
        }
        img,
        picture {
            filter: brightness(0) invert(1); // brightness : image gets black - invert : black gets white;
        }
    }
    &:active {
        color: $brand-red;
        label {
            color: $white;
        }
    }
}
#share-linkedin {
    color: $linkedin;
    margin-right: 2rem;
} 
#share-twitter {
    color: $twitter;
}

// Suggestions d'articles
#post-suggestion {
    background-color: darken($white, 4);
}
     
