// Single Réalisation : content
.single-real {

    // 1 - Réalisation : header
    > header > span {
        min-height: 60vh; 
        @media screen and (max-width: $mobile_width ) {
            min-height:100vw; 
        }
        // Background settings
        color: $white;
        text-align: left;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        @include spacing(padding-left, $wrapper-padding);
        @include spacing(padding-right, $wrapper-padding);
        @include spacing(padding-top, $vertical-padding-small);
        @include spacing(padding-bottom, $vertical-padding-small);
        h1 {
            margin-top: auto;
            margin-bottom: 1.5rem;
        }
        img,
        picture {
            margin: 0;
        }
    }
}

// 1.2 - Thumbnail 
// Thumbnail is a background-image. Link is created with (see content-realisation.php)
#header-bg-desktop,
#header-bg-mobile {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#header-bg-desktop > #header-bg-mobile {
    @media screen and (min-width: $mobile_width ) {
        background-image: none;
    }
}

#header-bg-desktop {
    background-color: $brand-blue; // fallback color if no thumbnail
}


// Block before footer
#realisation-menu {
    background: $dark-gray;
    color: $white;
    #realisation-control {
        padding: 2rem;
        h2 {
            margin-bottom: 0

        }
    }
    /*
    #realisation-control {
        display: grid;
        @include spacing(padding-left, $wrapper-padding);
        @include spacing(padding-right, $wrapper-padding);
        padding-top: 2rem;
        padding-bottom: 2rem;
        grid-template-columns:  4rem 4rem auto 4rem 4rem;
        grid-template-areas:    "title title title title title"
                                "menu menu . prev next";
        
        @media screen and (min-width: 36rem) {
            grid-template-areas: "menu title prev next";
            grid-template-columns: 8rem auto 4rem 4rem;
        }

        // Elements areas :
        > button:nth-of-type(1) {
            grid-area: menu;
        }
        > button:nth-of-type(2) {
            grid-area: prev;
        }
        > button:nth-of-type(3) {
            grid-area: next;
        }
        > h2 {
            grid-area: title;
        }
    }
    */
    // Listing
    #listing-realisation-caroussel {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );
    
        // 1.1 Responsive : 2 cards / line 
        @media screen and (min-width: 32rem) {
            grid-auto-rows: 50vw;
            // 1.2 Responsive : 4 cards / line 
            @media screen and (min-width: 48rem){
                grid-template-columns: repeat( 4, 1fr );
                grid-auto-rows: 25vw;
            }
        }

        // 2.5 - Thumbnail Style 
        .realisation-thumb {
            // Image fills all space avalable
            width: 100%;
            height: 100%;
            img,
            picture {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

