// Single post
.single-savoirfaire {

    // 1 - Savoirfaire : header
    > header {
        min-height: 50vh; 
        background-color: $brand-blue; // fallback color
        color: $white;
        text-align: left;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        @include spacing(padding, $wrapper-padding);
        h1 {
            margin-top: auto;
            margin-bottom: 1.5rem;
        }
        img,
        picture {
            margin: 0;
        }
    }

}
