#site-map {
    @include spacing(padding-bottom, $wrapper-padding);
    a {
        color: inherit;
        text-decoration: none;
        @include link-default;
    }
    li {
        margin-top: 0.5rem;
        &:last-of-type {
            margin-bottom: 2rem;
        }
    }
    // First level Links
    ul {
        color: $brand-red;
        // Second-level-links
        ul {
            color: $black;
    
        }
    }
}