/*

Block Video [template-parts/block/savoir-faire.php]

File structure :
------------------
1 - Block


*/

// 1 - Container Layout
.blk-button {
    .entry-content {
        margin-bottom: 2rem;
    }
}
