/*

Block Text en colonne  [template-parts/block/text-column.php]

File structure :
------------------
1 - Container Layout

*/

// 1 - Container Layout
.blk-text-column {

    // 1. Layout : text-only
    &.no-image {

        // 1.1 - Text Layout
        > .text-column {
            column-count: 1;
            @media screen and (min-width: $mobile_width) {
                column-count: 2;
                column-gap: 2rem;
            }
        }
    }



    // 2. Layout variant : image

    &.has-image {
        display: grid;
        grid-template-columns: 1fr;
        @include gutter;
        grid-template-columns: 1fr;
        grid-template-areas: "text" "img";

        @media screen and (min-width: $tablet_width) {

            &.image-left {
                grid-template-areas: "img text";
                grid-template-columns: 1fr 1fr;

                @media screen and (min-width: $desktop_width) {
                        grid-template-columns: 1fr 2fr;
                    }
            }

            &.image-right {
                grid-template-areas: "text img";
                grid-template-columns: 1fr 1fr;

                @media screen and (min-width: $desktop_width) {
                        grid-template-columns: 2fr 1fr;
                    }
            }

        }

        > .text-column {
            grid-area: text;
            column-count: 1;

            @media screen and (min-width: $mobile_width) and (max-width: $tablet_width - 0.01rem) {
                column-count: 2;
                column-gap: 1rem;
            }

            @media screen and (min-width: $desktop_width) {
                column-count: 2;
                column-gap: 2rem;
            }
        }
    }

    // 3 - image / Link Layout
    > a {
        grid-area: img;
        width: 100%;
        height: auto;
        margin: 0;
        > img,
        > picture {
            width: 100%;
            height: auto;

        }
    }

}

