/*

Block Savoir-Faire  [template-parts/block/savoir-faire.php]

File structure :
------------------
1 - Container Layout
------------------
2 - Card Style
    2.1 Card background
    2.2 Chessboard Color
    2.3 Interactivity
------------------
3 - Card content

*/

// 1 - Container Layout
.blk-savoir-faire {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );
    grid-auto-rows: 1fr;
    background: $dark-gray;
    color: $white;
    
    // Responsive : 4 cards / line maximum
    @media screen and (min-width: 64rem) {
        grid-template-columns: repeat( 4, 1fr);
    }

    //2 - Card Style
    .card-savoir-faire {
        padding: 1.5rem;
        color: $white;
        text-decoration: none;
        // 2.1 Card background
        // Background-color changes with pseudo-element ::after
        position: relative;
        &::after {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $dark-gray;
            z-index: 1;
            opacity: 1;
            transition: opacity .4s;
        }

        // 2.2 Checkerboard Color
        // Some cards have a different background

        // 1 Card / line
        @media screen and (max-width: 32rem) {
            &:nth-of-type(odd){
                &::after {
                    background: lighten($color: $dark-gray, $amount: 2);
                }
            }
        }

        // 2 Cards / line
        @media screen and (min-width: 32rem) and (max-width: 48rem) {
            &:nth-of-type(4n+2),
            &:nth-of-type(4n+3){
                &::after {
                    background: lighten($color: $dark-gray, $amount: 2);
                }
            }
        }

        // 3 Cards / line
        @media screen and (min-width: 48rem) and (max-width: 64rem) {
            &:nth-of-type(odd){
                &::after {
                    background: lighten($color: $dark-gray, $amount: 2);
                }
            }
        }

        // 4 Cards / line
        @media screen and (min-width: 64rem) {
            &:nth-of-type(8n+2),
            &:nth-of-type(8n+4),
            &:nth-of-type(8n+5),
            &:nth-of-type(8n+7){
                &::after {
                    background: lighten($color: $dark-gray, $amount: 2);
                }
            }
        }

        // 2.3 Interactivity
        &:link,
        &:visited {
            &::after {
                opacity: 1;
            }
        }

        &:hover,
        &:focus,
        &:focus-within,
        &:active {
            &::after {
                opacity: 0;
            }
        }

        // 3 - Card content
        > img,
        > picture,
        h2 {
            position: relative;
            z-index: 10;
        }
        

        // Card icon
        img,
        picture {
            height: 5rem;
            width: auto;
            margin: 0 0 2.5rem 0; // t r b l
        }
    }
}