/*

Block Savoir-Faire  [template-parts/block/savoir-faire.php]

File structure :
------------------
1 - Container Layout
    1.1 Responsive : 2 cards / line maximum
    1.2 Responsive : 3 cards / line maximum
------------------
2 - Card Style
    2.1 - Card Layout 
    2.2 - Color settings
    2.3 Card Background Image
    2.4 Interactivity
------------------
3 - Card content

*/

// 1 - Container Layout
.blk-backstage {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );
    justify-content: center;
    grid-auto-rows: minmax(25vw, 1fr);
    color: $white;

    // 1.1 Responsive : 2 cards / line maximum
    @media screen and (min-width: 32rem) and (max-width: 48rem) {
        grid-auto-rows: minmax(50vw, 1fr);
    }
    
    // 1.2 Responsive : 3 cards / line maximum
    @media screen and (min-width: 48rem) {
        grid-template-columns: repeat( 3, 1fr);
        grid-auto-rows: minmax(33vw, 1fr);
    }

    //2 - Card Style
    .card-backstage {

        // 2.1 - Card Layout 
        padding: 2rem;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        // 2.2 - Color settings
        text-align: center;
        color: inherit;
        text-decoration: none;
        

        // 2.3 Card Background Image
        > img,
        > picture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 0;
            transition: opacity .4s;
        }
        
        // 2.4 Interactivity
        &:link,
        &:visited {
            color: inherit;
        }

        &:hover,
        &:focus,
        &:focus-within,
        &:active {
            color: inherit;
            > img,
            > picture {
                opacity: 1;
            }
        }

        // 3 - Card content
        > div {
            display: block;
            position: relative;
            z-index: 10;
    
            > h2 {
                margin-bottom: 0.5rem;
            }
            > p {
                margin-bottom: 0;;
            }
        }



    }
        
}