/*

Block Last-Post  [template-parts/block/last-post.php]

File structure :
------------------
1 -  Block Background
    1.1 - Pseudo element ::before
    1.2 - Mirror Background Image
*/


// 1 - Block Background
#blk-last-post {
    // 1.1 - Pseudo element ::after
    // Background is shown with pseudo-element :before
    position: relative;
    &::before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: $brand-yellow;
        @include background-pattern;
        
        // 1.2 - Mirror Background Image
        // Mirror background : gradient is [left to right] instead of [Right tot left]
        transform:scaleX(-1);
    }
}