/*

Block Video [template-parts/block/savoir-faire.php]

File structure :
------------------
1 - Block
    1.1 - Block layout
    1.2 - Image Settings
------------------
2 - Video Icon

*/

// 1 - Container Layout
.blk-video {
    // 1.1 - Block layout
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    // 1.2 - Image Settings
    > img,
    > picture {
        max-width: 100%;
        height: auto;
        cursor: pointer;
    }
}


@mixin is-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    height: 6rem;
    width: 6rem;
    background-image: url("./image/player.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem 3rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 0.5rem solid currentColor;
    color: white;
    transition: all .4s;
    cursor: pointer;
    filter: drop-shadow( 0 0 1rem rgba(black, 0.5) );
    // Interactivity
    &:hover,
    &:focus,
    &:focus-within {
        color: rgba(white, 0.5);
        border-width: 0.25rem;
        background-size: 4rem 4rem;
    }
}

.is-icon {
    @include is-icon;
}

// 2 - Video Icon
.show-icon {
    position: relative;
    transition: all .4s;

        &::after {
            content:"";
            @include is-icon;
    }
}