/*

Gutenberg Core blocks

File structure :
------------------
0 - Select Core Blosks 
------------------
1 - Text
    1.1 - Paragraph
    1.2 - Title
    1.3 - List
    1.4 - Blockquote
    1.5 - Horizontal rule (divider)
    1.6 - Div (text-columns)
------------------
2 - Picture
    2.1 - Image
    2.2 - picture

*/

// 0 - Select Core Blocks
// We select elements placed directly in the page content
#raw-content {
    >*:first-child:not(section) {
        @include spacing(margin-top, $vertical-padding-regular);
    }
    >*:last-child:not(section) {
        @include spacing(margin-bottom, $vertical-padding-regular);
    }
    /* 1 - Text
    ------------------*/
    // All text-elements 
    >p,
    >h1,
    >h2,
    >h3,
    >h4,
    >h5,
    >h6,
    >ul,
    >ol,
    >div,
    >blockquote,
    >iframe {
        @include narrow-wrapper;
        margin-bottom: 2rem;
    }
    // 1.1 - Paragraph
    >p {
        @include entry-content;
    }
    // 1.2 - Title
    >h1,
    >h2,
    >h3,
    >h4,
    >h5,
    >h6,
    {
        // Do something special
    }
    // 1.3 - List 
    //List have the same style as in .entry-content element [see content.scss]
    >ul,
    >ol {
        // @include entry-content-list;
    }
    >ol {
        @include entry-content-ol;
    }
    // 1.4 - Blockquote
    >blockquote {
        margin: 4rem auto;
        >* {
            @include entry-content-blockquote;
        }
        >cite {
            color: $gray;
            @include font(text, regular, body);
        }
    }
    // 1.5 - Horizontal rules
    // By default, hr are hidden
    >hr {
        display: none;
        &.blk-divider {
            display: block;
            clear: both;
            background: transparent;
            border: 0;
            outline: 0;
            margin: 0;
            padding: 0;
            @include spacing(height, $vertical-padding-regular);
        }
    }
    /* 2 - Picture
    ------------------*/
    //2.1 - Image
    > img,
    > picture {
        max-width: 100%;
        height: auto;
        margin: 2rem auto;
    }
    
    //2.2 - Figure
    > figure {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        @include wrapper;
        @include v-padding-regular;
        >* {
            max-width: 100%;
            height: auto;
            @include blocked-wrapper;
        }
        >figcaption {
            margin-top: 2rem;
            text-align: center;
        }
    }
}