/*

Listing Realisation [template-parts/archive-realisation.php]

Used in :

- Gutenberg block "Last Realisation" [template-parts/block/last-realisation.php]
- Template "Archive Realisation" [templates/tpl-archive-realisation.php]

File structure :
------------------
1 - Listing Layout
------------------
2 - Card Layout
    2.1 - Card Layout : Touch Devices
    2.2 - Card Layout : Hover Devices
    2.3 - Link effect : Touch Devices            
    2.4 - Link effect : Hover Devices
    2.5 - Thumbnail Style
*/

// 1 - Listing Layout
#listing-realisation {
    display: grid;
    @include gutter;
    @include blocked-wrapper;
    //margin: auto;
    grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );
    
    // Responsive : 3 cards / line maximum
    @media screen and (min-width: 56rem) {
        grid-template-columns: repeat( 3, 1fr);
    }
}

// 2 - Card Layout
.realisation-card {
    position: relative;
    line-height: 0;

    > a {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        
        > div {
            width: 100%;
            box-sizing: border-box;
        }

        // Card Title + type
        .realisation-content {
            text-align: center;
            line-height: $lh-standard;
            background-color: rgba($brand-red, 0.9);
            color: $white;
            transition: all .4s;
            padding: 1rem;

            // 2.1 - Card Layout : Touch Devices
            position: absolute;
            bottom: 0;
            left: 0;
            height: auto;

            // 2.2 - Card Layout : Hover Devices
            @media (hover) {
                height: 100%;
                opacity: 0;
                > span {
                    position: inherit;
                    padding: inherit; 
                    width: inherit;
                    height: 100%;
                    transition: inherit;
                    left: 50%;
                    box-sizing: inherit;
                    bottom: 50%;
                    transform: translate(-50%, 50%);
                    margin-bottom: 1rem;
                    // contentn is centered horizontally and vertically
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    > *:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        // 2.3 - Link effect : Touch Devices                     
        &:hover,
        &:focus,
        &:focus-within {
            .realisation-content {
                opacity: 1;
                background-color: $brand-blue;
                // 2.4 - Link effect : Hover Devices
                @media (hover) {
                    background-color: rgba($brand-red, 0.9); // No change
                    > span {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }


    // 2.5 - Thumbnail Style 
    .realisation-thumb {
        > img {
            width: 100%;
            height: auto;
            margin: 0;
        }
    }
}