/*

Listing Realisation [template-parts/archive-realisation.php]

Used in :

- Gutenberg block "Last Realisation" [template-parts/block/last-realisation.php]
- Template "Archive Realisation" [templates/tpl-archive-realisation.php]

File structure :
------------------
1 - Listing Layout
------------------
2 - Card Layout
    2.1 - Card Layout : Touch Devices
    2.2 - Card Layout : Hover Devices
    2.3 - Link effect : Touch Devices            
    2.4 - Link effect : Hover Devices
    2.5 - Thumbnail Style
*/

// 1 - Listing Layout 
#listing-staff {
    background: $dark-gray;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );
    grid-auto-rows: 50vw;

    // 1.1 Responsive : 2 cards / line 
    @media screen and (min-width: 32rem) {
        grid-auto-rows: 50vw;
        // 1.2 Responsive : 3 cards / line 
        @media screen and (min-width: 48rem){
            grid-auto-rows: 33vw;
            // 1.3 - Responsive : 4 Cards / line max
            @media screen and (min-width: 64rem) {
                grid-template-columns: repeat( 4, 1fr );
                grid-auto-rows: 25vw;
            }
        }
    }
    
    // 2 - Card Layout 
    // Container of the single-staff
    > .staff-card {

        // 3 - Open button
        .staff-button {
            border: none;
            width: 100%;
            height: 100%;
            // 3.1 - Style
            text-align: left;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: flex-start;
            color: $white;
            padding: 2rem;
            line-height: 0;
            // 3.1 - Background-settings
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            // 3.2 - Background-color changes
            position: relative;
            &::after {
                content:"";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background-color: $black;
                transition: opacity .4s;
            }

            // 3.3 - z-index
            // Button content is above ::after
            > * {
                position: relative;
                z-index: 10;
                // 3.4 - Animation (Hover devices only)
                // For Devices that can handle hover 
                @media (hover) { 
                    transition: opacity .4s;
                    opacity: 0;
                }
            }

             // 3.5 - Interactivity
             &:hover,
             &:focus,
             &:focus-within,
             &:active {
                 &::after {
                     opacity: 0.5;
                 }
                 > * {
                    @media (hover) { 
                        opacity: 1;
                    }
                 }
             }

            // 3.6 - Font settings
            > h2 {
                @include font(text, regular, h4);
            }
            > p {
                margin-bottom: 0;
            }

        }
        

        // 3 - Modal Layout
        .staff-modal,
        .staff-overlay,
        .staff-close {
            opacity: 0.5;
            position: fixed;
            transition: all .4s;
        }

        // 3 - Modal Style
        .staff-modal {
            // 3.1 - Modal Layout
            z-index: $index-modal;
            background: $white;
            top: 10vh; // Space for .staff-close
            left: 50%;
            transform: translate(100%, 0%);
            width: 80vw;
            max-height: 80vh;
            justify-self: center;
            box-sizing: border-box;
            
            @media screen and (max-width: $tablet_width) {
                overflow-y: auto;
            }

            // 3.2 - Modal style  
            display: grid;
            align-items: center;
            grid-template-rows: auto 80vw;
            grid-template-areas:    
                'text'
                'image';
            
            // 3.3 - Big photo
            > img,
            > picture {
                grid-area: image;
                margin: 0;
                width: 100%;
                height: auto;
            }

            @media screen and (min-width: $mobile_width) {
                grid-template-areas: 'text image';
                grid-template-columns: 1fr 1fr;
                grid-template-rows: unset;
                > img,
                > picture {
                    width: 100%;
                    height: auto;
                    object-position: center;
                    object-fit: cover;
                }
                @media screen and (min-width: $tablet_width) {
                    grid-template-columns: 1fr 80vmin;
                }
            }

            // 3.4 - Modal text
            .staff-infos {
                grid-area: text;
                padding: 2rem;
                line-height: $lh-standard;
                // Name
                > h2 {
                    margin-bottom: 0.5rem;
                }
                // Job
                > p {
                    margin-bottom: 2rem;
                }
                // Presentation
                > div {
                    color: $gray;
                    line-height: $lh-big;
                    margin-bottom: 2rem;
                }
                // Social icons
                > a {
                    text-decoration: none;;
                    margin-right: 1rem;
                    transition: opacity .2s;
                    text-align: center;
                    > img,
                    > picture {
                        vertical-align: middle;
                    }
                    &:link,
                    &:visited {
                        opacity: 0.7;
                    }
                    &:hover,
                    &:focus,
                    &:focus-within,
                    &:active {
                        opacity: 1;
                    }
                }
            }
        }
        
        // 4 - Overlay
        .staff-overlay {
            @include overlay-style;
            z-index: $index-modal - 10;
            top: 50%;
            left: 50%;
            transform: translate(100%, -50%);
        }

        // 5 - Close Button
        .staff-close{
            z-index: $index-modal;            
            top: 5vh;
            left: 50%;
            left: 50vw;
            transform: translate(400%, -50%);
            transform: translate(100vw, -50%);
            display: block;
            padding: 0.5rem 1rem; 
        }

        // 6 - Modal Appears
        // .staff-card .isActive
        &.isActive {
            .staff-modal,
            .staff-overlay,
            .staff-close {
                opacity: 1;
            }
            .staff-overlay {
                transform: translate(-50%, -50%);
            }
            .staff-modal {
                transform: translate(-50%, 0%);
            }
            .staff-close{
                transform: translate(-50%, -50%);
            }
        }



        .staff-modal,
        .staff-overlay,
        .staff-close {
            opacity: 0.25;
            position: fixed;
        }

    }


}




