/*

Listing Post [template-parts/block/last-post.php]

Used in :

- Gutenberg block "Last Post" [template-parts/block/last-post.php]
- Template "Archive Post" [templates/tpl-archive-realisation.php]

File structure :
------------------
1 - Listing Layout
    1.1 - Variant Listing 
------------------
2 - Card Layout
    2.1 - Card Layout : Touch Devices
    2.2 - Card Layout : Hover Devices
    2.3 - Link effect : Touch Devices            
    2.4 - Link effect : Hover Devices
    2.5 - Thumbnail Style
    
*/

// 1 - Listing Post
#listing-post,
#listing-post-3col {
    @include blocked-wrapper;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );
    @include gutter;
}
// 1.1 - Variant Listing 
// On Home.php, 3 posts / line max
#listing-post-3col {
    @media screen and (min-width: 65rem) {
        grid-template-columns: repeat( 3, 1fr );
    }
}


// 2 - Post Card
article.post-card {
    // 2.1 - Card Layout
    display: block;
    text-align: left;
    // 2.1 - Card Style
    background: $white;
    @include shadow;

    // 2.3 - Post Layout
    > div {
        color: $default-text-color;
        padding: 1.25rem 2rem 2rem 2rem;
        // 2.4 - Categories
        > a.link-red {
            text-decoration: none;
            margin-right: 1em;
            &:last-of-type {
                margin-right: 0;
            }
        }

        // 2.5 - Text
        > a.post-content {
            display: block;
            margin: 2rem 0;
            line-height: $lh-standard;
            @include link-default;
            text-decoration: none;
            h3 {
                @include font(text, regular, lead-paragraph);
            }      
            > div {
                color: $gray;
            }
        }
    }
}

